[2014-02-18 09:36] chrmor opened #1 "Error in namespace parsing"
Link: http://data.dm2e.eu/data/html/list
Question marks in place of URL prefixes usually denotes some mulfunctioning (e.g. ?:hasCollection)

Link: http://data-worker.dm2e.hu-berlin.de/data/html/resourcemap/bbaw/dta/16157/1391002599515
a namespace is broken : ?:author (http://purl.org/spar/pro/author)

[2014-02-18 09:39] chrmor opened #2 "Broken resources"
http://data.dm2e.eu/data/html/dataset/mpiwg/rare/1391777127562 resources are broken. e.g. http://data.dm2e.eu/data/html/resourcemap/mpiwg/rareBooks/MPIWG_00N0SGXE/-1

[2014-02-18 09:41] chrmor opened #3 "Books without pages and author"
http://141.20.126.232/data/html/resourcemap/onb/abo/%2BZ101315405/1391106413338
is this correct? : http://141.20.126.232/data/... shouldn't it be a domain name?
There is not author triple. Is it correct?
The rdf:type is Book but it does not contain pages. Is it correct? What should I annotate then?

[2014-02-18 09:41] chrmor opened #4 "Empty datasets"
http://data.dm2e.eu/data/html/dataset/onb/codi/1391095292351, http://data.dm2e.eu/data/html/dataset/onb/codices/1391337499559,
this seems empty

[2014-02-18 09:42] chrmor opened #5 "Different kind of Pages..."
http://data.dm2e.eu/data/html/dataset/uib-ffm/sammlungen/1390576653139
here the contained CHOs are Pages, there is no Book level: http://data.dm2e.eu/data/html/resourcemap/uib-ffm/sammlungen/urn:nbn:de:hebis:30:2-11683-phys1970992/1390576653139
Note that the rdf:type used is http://purl.org/spar/fabio/#Page and not dm2e:1.0/Page as in other datasets.

[2014-02-18 09:43] chrmor opened #6 "missing format for the annotatable object"
http://data.dm2e.eu/data/rdf/resourcemap/uib-ffm/sammlungen/urn:nbn:de:hebis:30:2-11683-phys1971057/1390576653139
there is no dc:format scpecified for the Annotatable object!

[2014-02-18 09:45] chrmor opened #7 "Missing Book type..."
http://data.dm2e.eu/data/html/resourcemap/uib/wab/Ms-114/1391118905391
there is no rdf:type that allows me to assume this is a Book and contains pages (perhaps Book was used as a type in other datasets).

[2014-02-18 09:46] chrmor opened #8 "wrong dc:format?"
http://data.dm2e.eu/data/rdf/resourcemap/uib/wab/Ms-114/Ms-114%2C145r%5B2%5Det145r%5B3%5D/1391118905391
here the format is a resource:
dc:format http://onto.dm2e.eu/schemas/dm2e/1.1/mime-types/text/html-named-content .
, while in other datasets a label was used (html-pundit-content). What is the correct value?

[2014-02-18 10:14] JIwanowa commented on #8
Within DM2E dc:format has to be used only with a plain literal!

[2014-02-18 10:20] JIwanowa commented on #5
The fabio:Page is wrong, the right URI for the rdf:type is now http://onto.dm2e.eu/schemas/dm2e/Page

[2014-02-18 17:33] knepper commented on #5
This is a strange test data set ("uib-ffm" instead of "ub-ffm"), please delete everything with "uib-ffm".
The data are months old (before Athens) and follow an old model. Correct is "ub-ffm".

[2014-02-18 17:44] knepper commented on #8
Wrong label -> Wittgenstein

[2014-02-18 17:46] knepper commented on #6
Strange and very old test data "uib-ffm". Please delete everything with "uib-ffm". Continous confusion...

[2014-02-19 09:54] JIwanowa commented on #8
Oh, sorry! Is now labeled with wittgenstein.

[2014-02-19 13:57] kba commented on #3
Pubby was configured to use the request Hostname as the hostname for the generated URIs. Hence when you request http://141.20.126.232/data/html/resourcemap/onb/abo/%2BZ101315405/1391106413338 you will get resources starting with http://141.20.126.233.

Where did you find this link?

I assume the edm:hasMet relation contains the author (someone known by the initials B.S.?)

[2014-02-24 11:01] chrmor commented on #8
Any news? I guess the triple

http://www.wittgensteinsource.org/Ms-114%2C145r%5B2%5Det145r%5B3%5D_n.html
      dc:format http://onto.dm2e.eu/schemas/dm2e/1.1/mime-types/text/html-named-content .

has to be replaced with something like:

http://www.wittgensteinsource.org/Ms-114%2C145r%5B2%5Det145r%5B3%5D_n.html
      dc:format "text/html-named-content" .

Please write here when fixed...

[2014-02-24 11:01] chrmor commented on #7
Any news on this issue?

[2014-02-24 11:04] chrmor commented on #6
So the dataset http://data.dm2e.eu/data/dataset/uib-ffm/sammlungen is invalid?

[2014-02-24 11:08] kba commented on #6
Yes, as are many others. We'll re-ingest the store ASAP.

[2014-02-24 11:15] knepper commented on #6
Yes. It is a a test ingest with very old data.

The proper path to our data is:
http://data.dm2e.eu/data/html/dataset/ub-ffm/sammlungen

But the current mapping seems to be not ingested yet. The files are:
fra6-item-DM2Ev11Rev13-2014-02-12-rdf.zip (634 Medieval Manuscripts)
fra3a-item-DM2Ev11Rev13-2014-02-12-rdf.zip (377 Hebrew Manuscripts)
I have uploaded them on 2014-02-12 to OMNOM which is offl

[2014-02-24 11:20] chrmor commented on #6
Could you please send a mail or something when the store is re-ingested?

[2014-02-24 11:23] kba commented on #6
@knepper Omnom is up and running but it's finally where it should be, at http://omnom.dm2e.eu. We have the data on the server and will ingest it ASAP.

@chrmor Yes, we will.

[2014-02-24 11:23] knepper commented on #6
P.S:
The ProvidedCHOs of the current mapping can be identified by
http://onto.dm2e.eu/schemas/dm2e/#Manuscript
instead of
http://onto.dm2e.eu/schemas/dm2e/1.1/#Manuscript

[2014-02-24 11:25] chrmor commented on #3
In order to show the author we need a clear property for the author. hasMet is generic and I cannot assume it points to the author ....

[2014-02-24 11:26] kba commented on #6
These URIs should be

http://onto.dm2e.eu/schemas/dm2e/Manuscript

and

http://onto.dm2e.eu/schemas/dm2e/1.1/Manuscript

The fragment identifier is just an artifact by the ontology browser at onto.dm2e.eu. We exclusively use slash-URIs.

[2014-02-24 11:26] #6 closed, assigned to kaiec

[2014-02-24 11:35] kba commented on #3
Yes, there is `pro:author` for that, I think.

[2014-02-24 11:39] d0rg0ld commented on #3
Hi there, the problem is that for ABO metadata I dont know the exact roles of persons. In most cases, it will be the author, but not necessarily. Therefore It would simply be incorrect to refer to all these persons as authors and thus hasMet is the only way to describe the relationship between persons and the item.

[2014-02-24 11:42] d0rg0ld commented on #3
Regarding pages: As I wrote a couple of days ago, we currently only deliver data on item level for the ABO collection

[2014-02-24 11:50] d0rg0ld commented on #4
Data needs some update, will do this week. Best, Doron

[2014-02-24 12:09] knepper commented on #5
Obsolete dataset.

[2014-02-24 12:09] #5 closed, assigned to kaiec

[2014-02-24 12:12] kba commented on #1
Fixed.

[2014-02-24 12:12] #1 closed, assigned to nobody

[2014-02-25 10:11] kba opened #9 "Use xsd:int for bibo:number, dm2e:levelOfHierarchy and bibo:numPages"
- bibo:number
- dm2e:levelOfHierarchy
- bibo:numPages

[2014-02-25 10:23] kba opened #10 "Are unknown properties errors?"
Should the validation rely on a strict closed world assumption and consider properties that are not defined by the DM2E data model as an error or a mere warning?

Right now, I collect all DatatypeProperties and ObjectProperties of the resp. OWL file and iterate through all the properties in the data to check. If a property is not in this _whitelist_, a WARNING is given.

But in most cases, these a

[2014-02-25 10:33] kba opened #11 "dm2e:displayLevel="true"^^xsd:boolean should imply the existence of dc:title"
Everything that should show up in the search results should have a title.

[2014-02-25 10:36] kba opened #12 "How to find the annotatable version and facsimile image?"
If I encounter a CHO with `dm2e:displayLevel "true"^^xsd:boolean` whose corresponding `ore:Aggregation` has neither `edm:isShownBy`, `edm:object` nor `dm2e:hasAnnotatableVersion`, what should be displayed as
- the annotatable version
- the thumbnail?

Should I skip those links altogether?

Should I select the first page for annotation/as thumbnail? How do I find the first page?

[2014-02-25 10:43] kba commented on #12
The SPARQL I use for the first page currently:

[code]

[2014-02-25 10:49] ksdm2e commented on #11
At frist, that's a question for a search engine not for a data model for describing cultural data. IMHO, it's up to the consuming application to deal with such an issue.

There is already a solution for that: regarding EDM, the authors of the model estimated the situation correctly, that not every CHO has a title. Especially in archival description data, there is very often no such thing as title,

[2014-02-25 10:53] ksdm2e commented on #10
That's an error. It must be corrected by the dataprovider.

[2014-02-25 11:02] kba opened #13 "How to handle bibo:number for CHOs that don't have them?"
`bibo:number` is mandatory and has datatype `xsd:int`.

When mapping encounters a page without a page number what should data providers set as a value here. They must set some value and it must be a number.

Probably `-1` is a good idea though this will break the naive find-the-first-page algorithm.

Otherwise `bibo:number` should not be mandatory.

[2014-02-25 11:09] kba commented on #11
What should be in the title field of a search engine result. Please give an example of a CHO that should be displayed in search results (displayLevel true) but has no title.

What should be this client-side mechanism? Should I display the start of the description as the title? Should it be called "Untitled CHO"?

[2014-02-25 11:21] kba commented on #10
Are errors now.

[2014-02-25 11:21] #10 closed, assigned to nobody

[2014-02-25 12:25] ksdm2e commented on #11
the start of description was also my first guess.

Can we investigate examples from the ingested data?

[2014-02-25 12:28] d0rg0ld commented on #12
For now I would display a default icon/thumbnail, probably based on the dc:type of the CHO

[2014-02-25 12:31] d0rg0ld commented on #13
I am wondering if it is really possible for such a situation to happen. Usually (AFAIK) page information is stored in some dedicated structure such as a METS file where pages are listed in the order they were scanned, regardless of having a page numner or not. I guess that this applies to other forms of representing structural data as well. Are there any examples from content providers having the

[2014-02-25 12:35] d0rg0ld commented on #9
While the first two

•bibo:number
•dm2e:displayLevel

are feasible I doubt that it is possible for •bibo:numPages :

One example from our ABO data: " XIV, 175 S., 7 mehrf. gef. Bl. ". As mentioned previously, at least we (ONB) do not have access to the page Information while mapping the metadata on item level, therefore I suggest to leave it as generic Literal

[2014-02-25 12:39] kba opened #14 "dm2e:genre should not be a subtype of dc:description"

[2014-02-25 12:42] d0rg0ld commented on #9
Regarding bibo:number I see that it was set to be equivalent to property fabio:hasPageCount, having range: xsd:positiveInteger as range. In this case, at least in our case it must be set after the ingestion, in a post processing step - as long as there are actual page CHOs available for counting.

If this should stay as it is, I highly suggest to add another property for "library style" "Literal-b

[2014-02-25 12:49] ksdm2e commented on #14
I vote from the beginning for

subtype from dc:type.

It actually should override dc:type.

[2014-02-25 12:53] chrmor opened #15 "missing bibo namespace ?"
Example:
http://data.dm2e.eu/data/html/resourcemap/bbaw/dta/16168_f0004/1391002599515

in this RDF the URL http://purl.org/ontology/bibonumber seems wrong.
I guess the correct one is http://purl.org/ontology/bibo/number

[2014-02-25 12:54] kba opened #16 "Why is edm:relatedTo a Literal"

[2014-02-25 12:55] kba commented on #16
Ah, I see

[code]

Who is using this and for what purpose?

[2014-02-25 12:57] ksdm2e opened #17 "Untyped literal in dcterms:created"
dm2e-validation.jar NOTICEs:

<pre>
has untyped literal for property <http://purl.org/dc/terms/created>.
</pre>

The values in the file are **2014-01-09T23:16:06Z**, which are valid _xsd:dateTime_.

DM2E-spec lists _edm:TimeSpan_, _xsd:dateTime_, _rdf:Literal_ as possible ranges for dcterms.

Why is it NOTICEd? Or what is a better notation?

[2014-02-25 12:59] ksdm2e commented on #15
I fixed that already in my xslt in january. Should be ingested again.

[2014-02-25 13:00] d0rg0ld commented on #17
did you use rdf:datatype="http://www.w3.org/2001/XMLSchema#dateTime" as attribute? I am currently updating the Recommendations accordingly - Sorry for the inconvenience.

[2014-02-25 13:00] #15 closed, assigned to nobody

[2014-02-25 13:01] ksdm2e commented on #17
Thanks!

[2014-02-25 13:10] #17 closed, assigned to nobody

[2014-02-25 13:15] ksdm2e opened #18 "has specific Problem: Aggregation contains both edm:isShownAt and edm:isShownBy."
First: there are no problems, there are only challenges!

What does it mean?

In the case of dta, edm:isShownAt, edm:isShownBy and edm:object point to different resources, according to the spec.

If there is a problem, the spec is too complex.

[2014-02-25 13:16] d0rg0ld commented on #18
I second to that. It should be possible, because the two different properties have different semantics.

[2014-02-25 13:17] ksdm2e commented on #13
bibo:number cannot be mandatory. It should be recommended.

[2014-02-25 13:20] d0rg0ld commented on #13
I recently proposed that bibo:number should be mandatory whenever edm:isNextInSequence is used. This makes sense to me. There must be, however, some order in the pages (otherwise annotation would be painful) and the provider should take care of this. Do you have problems with extracting the ordering of your pages?

[2014-02-25 13:23] chrmor opened #19 "BLOCKING: No dc:format for the AnnotatableVersion"
Example:

http://data.dm2e.eu/data/rdf/resourcemap/mpiwg/harriot/MPIWG_01QU84RT_00817/1393267718023

there is not triple specifying the format.

What should the format be? text/html?

[2014-02-25 13:25] chrmor opened #20 "ShownAt links broken?"
The shownAt link seems broken as it lands on a [Empty Page], while the AnnotatableVersion does contain text.

See for example this one:

http://data.dm2e.eu/data/html/resourcemap/mpiwg/harriot/MPIWG_01QU84RT_00793/1393267718023

[2014-02-25 13:27] chrmor opened #21 "Are there Images in this datasets?"
Are there images somewhere?
I understand CHOs are transcriptions of manuscript pages, did you also provide facsimiles of such pages?

[2014-02-25 13:29] d0rg0ld opened #22 "Why do crm:P79F.beginning_is_qualified_by and crm:P80F.end_is_qualified_by have xsd:dateTime as range?"

[2014-02-25 13:30] kba commented on #14
It currently is both a subtype of dc:type and dc:description. But the latter makes no sense and should be taken out.

What do you mean with 'override'?

[2014-02-25 13:31] chrmor opened #23 "BLOCKING: Missing Aggregation-to-Item connection"
Example:

http://data.dm2e.eu/data/rdf/resourcemap/mpiwg/harriot/MPIWG_KECMZ5BH_00003/1393267718023

In this RDF I see no aggregatedCHO property connecting the Item (CHO) with the Aggregation. This is mandatory!

[2014-02-25 13:34] kba commented on #18
It's a NOTICE, the "Specific problem" is just a catch-all phrase for miscellaneous things that the validator notices which aren't necessary problems.

You can set the minimum level to WARNING to see only actual problems (Run with `--level WARNING`).

[2014-02-25 13:37] kba commented on #13
I think HUB ran into this problem with the Dingler data.

+1 for the edm:isNextInSequence proposal.

[2014-02-25 13:40] kba commented on #19
The link in `dm2e:hasAnnotatableVersionAt` (http://thrax.mpiwg-berlin.mpg.de/mpiwg-mpdl-cms-web/query/GetPage?docId=/echo/en/Harriot_Add_MS_6789_0VGM2B80.xml&page=817) points to a page containing

[code]

@kthth @jurzua Is this art or have you been hacked or something? :D

[2014-02-25 13:41] kba commented on #19
Ah, I guess it's just an empty page.

[2014-02-25 13:44] kba commented on #21
My logic for this is, for a given aggregation bound to `?agg`:

[code]

[2014-02-25 13:47] kba commented on #22
Should they only contain a textual qualification of the `edm:begin`/`edm:end` value?

[2014-02-25 13:51] d0rg0ld commented on #22
They were proposed to be used to describe the cause for uncertain data, according to the current recommendations, there are only two values allowed here:

"uncertainty_data" and "uncertainty_granularity"

[2014-02-25 13:53] kba commented on #22
Fixed in the model version "1.1_Rev1.4" in the Validator. Please update.

[2014-02-25 14:15] kba commented on #23
This error will lead to a FATAL validation error which prevents ingestion of such data.

[2014-02-25 14:15] kba commented on #19
This error will lead to a FATAL validation error which prevents ingestion of such data.

[2014-02-25 14:32] ksdm2e commented on #13
When edm:isNextInSequence is used, the bibo:number can be estimated with this relation. The order can be deduced as well.
Actually there is no need for bibo:number.

[2014-02-25 14:36] ksdm2e opened #24 "subject must be repeatable"
Is there any reason, why a dc:subject is not repeatable?

Please correct that in the specs and validation tool. I can see no advantage in this decision.

[2014-02-25 14:37] d0rg0ld commented on #13
In principle yes, but sincie it is easier for a provider to normalise the isNextInSequence ordering into bibo:number values we decided to make it mandatory. It will be some effort to deduce the ordering once millions of page chos will have been ingested

[2014-02-25 14:39] d0rg0ld commented on #24
Already changed in Rev 1.4 !

[2014-02-25 15:05] kthth commented on #20
Yes, working on it.

[2014-02-25 15:17] kba commented on #24
Yes, is also fixed in the validator tool since yesterday.

[2014-02-25 15:30] kba commented on #11
Actually, I can't find any at the moment using this query: https://github.com/DM2E/dm2e-ontologies/blob/master/src/main/resources/sparql-queries/display-level-true-no-title.rq If anyone has an example, please share

[2014-02-25 15:55] ksdm2e commented on #24
So is the a param for rev1.4? The help message needs an update.

[2014-02-25 16:05] ksdm2e commented on #14
type is very technical term; technic in sense of electronic documents and dublin core background. Archivist, librarians and linguists prefer the term "genre".

If you see DM2E as a model for describing manuscripts, genre is more appropriate for archival description (compare: genre in EAD).

I mean with "override": in DM2E dc:type should be forbidden, but dm2e:genre should be used instead.

[2014-02-25 16:07] ksdm2e commented on #18
I only use ERROR :smile:

[2014-02-25 16:14] ksdm2e commented on #18
But anyway: if it's not a problem, why is it noticed?

[2014-02-25 16:42] kba commented on #24
Please update, I rebuild the tool whenever I change the code base. The help message shows all available versions, so it is always in sync with the code.

[2014-02-25 16:47] kba commented on #14
Discouraging the use of dc:type in the validator is straightforward, I can do that. But it should be merely a warning. I don't have an example myself, but I can imagine that providers might specify the type of a manuscript beyond it's genre. In that case we should add additional subclasses though.

[2014-02-25 16:53] kba commented on #18
I can' reproduce this. For me, it shows as a NOTICE and is hidden when the level option is raised. Please provide input data and describe how you used the tool. Independent of whether this NOTICE should be raised at all, it should not appear in the results when you set the level.

[2014-02-25 17:16] ksdm2e commented on #24
The version of this morning has no 1.4. I update from the same url?

[2014-02-25 17:16] edroege commented on #9
@kba : I guess you meant dm2e:levelOfHierarchy instead of dm2e:displayLevel?

@d0rg0ld bibo:numPages is equivalent to fabio:hasPageCount in the model. We should remove that.

Otherwise I agree using xsd:int whenever it is possible. Maybe this should be recommended and not mandatory as there are also Roman numbers in the provided data. In that way we avoid having duplicate properties for almost the

[2014-02-25 17:19] ksdm2e commented on #14
I guess this should be decided by the data model maintenance task force. I would leave it as it is, but cut dc:description as superclass.

[2014-02-25 17:23] ksdm2e commented on #18
oh, sorry for the confusion. of course it's a NOTICE, but as far as the message "has specific Problem:" is missleading or not important to be valid, I've choosen ERRORS only.

But again: Why is it a notice? And what's the problem with it?

[2014-02-25 17:26] kba commented on #24
Yes.

[2014-02-25 17:31] edroege commented on #22
Fixed in the model specifiaction (now in the next revision: 1.5)

[2014-02-25 17:31] #22 closed, assigned to nobody

[2014-02-25 17:32] kba commented on #18
Removed it, I was just wondering why you got the NOTICE even though you set the level.

[2014-02-25 17:32] #18 closed, assigned to nobody

[2014-02-25 17:41] ksdm2e commented on #24
Thanks. I tried it already.

Who killed the owl:sameAs again?

Over and out ...

[2014-02-25 17:44] edroege commented on #13
We do not always have page numbers (sometimes we have the string NaN instead) but I think we can create numbers by using the webresources of the pages. I do not think that there is no need for bibo:number - it can make it easier to use the data. But I am not sure if it can really be mandatory. Guess we will see this when all mappings are ingested. Maybe this should not be part of the validation as

[2014-02-25 17:51] edroege commented on #14
dc:type is crucial as it is used to indicate the type of the CHO like page, article and so on. This is a mandatory property which cannot be removed.

I agree in cutting dc:description and removed it from the latest revision of the specification (rev 1.5)

[2014-02-25 17:52] #14 closed, assigned to nobody

[2014-02-25 22:35] kba commented on #24
If that last part was a problem description, please rephrase.

[2014-02-25 22:41] kba commented on #13
If it can't be guaranteed to be provided in all cases, data consumers can't rely on it being there. Hence I'd say make it strongly recommended but not mandatory to not dilute the semantics of _mandatory_.

[2014-02-26 08:51] edroege commented on #12
In my opinion, a default icon should only be used if everything else does not work. Otherwise we will have so many identical thumbnails that showing a thumbnail does not add any value.

[2014-02-26 09:00] edroege commented on #13
I agree with Konstantin. I do also see a large difference between mandatory properties like shownAt or aggregatedCHO which are really crucial and properties like bibo:number that would be very nice to have but if someone cannot provide them, the mapping should not be invalid.

[2014-02-26 09:05] d0rg0ld commented on #12
ok, lets make it more precise:

for a CHO with displayLevel=true, i suggest the following steps:

1) Is it a page CHO? (Should not happen btw)

[code]

2) It is NOT a page CHO (This will be the regular case)

[code]

3) If  neither step 1) or 2) result in a usable Image

[code]

[2014-02-26 09:10] d0rg0ld commented on #13
Dear Evelyn, with or without page numbers, pages should be in the order they have been scanned. Isn't it the case with your data? This means that you dont use isNextInSequence for pages?

[2014-02-26 09:12] d0rg0ld commented on #9
I suggest to let the Providers set the (string) value for bibo:numPages, but leave Fabio:hasPageCount for automatically derived page Counts derived after Ingestion. Of course, this would also include the removal of the equivalentProperty relationship between the two

[2014-02-26 09:30] edroege commented on #13
We use isNextInSequence for pages - we can sort them via their uris. And Julia could manage to build page numbers from URIs but we have to test if this really fits. The pages are sorted but have no numbers

[2014-02-26 09:42] d0rg0ld commented on #13
I see, thanks. In general I dont really care who sets the value for bibo:number, as Kilian mentioned before, this could very well be done in post-processing. We decided to introduce a provider mapped mandatory bibo:number in order to lower the post-processing effort. I guess that most providers would ignore this property if not mandatory ...

[2014-02-26 10:31] edroege opened #25 "dm2e:levelOfHierarchy should be in ore:Aggregation"
dm2e:displayLevel is in the domain or ore:Aggregation; dm2e:levelOfHierarchy should be there as well

[2014-02-26 11:00] edroege commented on #9
bibo:numVolumes and bibo:volume should also be xsd:int if possible

[2014-02-26 11:12] ksdm2e opened #26 "Rev1.4: has unknown property owl#sameAs"
When I check my data with the latest validation-tool with _-version 1.1_Rev1.4_, the following error appears:

http://data.dm2e.eu/data/agent/bbaw/authority_gnd/1018099549:
        [ERROR]  has unknown property http://www.w3.org/2002/07/owl#sameAs

But according the spec, it is _optional_ (p. 53)

Wrong namespace?

[2014-02-26 11:13] ksdm2e commented on #24
There are no problems, there are only issues:

https://github.com/DM2E/dm2e-mappings/issues/26

[2014-02-26 11:13] #24 closed, assigned to nobody

[2014-02-26 11:22] ksdm2e commented on #25
I also thought about that yesterday and came to the following conclusion:

As _dm2e:levelOfHierarchy_ accompanies _dcterms:isPartOf_, it should stay in _edm:ProvidedCHO_. (Although _dm2e:levelOfHierarchy_ is a very strange category)

As _dm2e:displayLevel_ is relevant for a displaying application (and not relevant for the description of the object), _ore:Aggregation_ is the right place.

[2014-02-26 11:39] kba commented on #26
Was fixed yesterday, please update.

[2014-02-26 11:39] #26 closed, assigned to nobody

[2014-02-26 11:49] ksdm2e commented on #13
We get bibo:number from a value, which  - I guess - is proofed several times during capturing:

[code]

As you can see, it is actually @kba's proposal ("0" instead of "-1").

But still I vote for "strongly recommended" oder MAY, but not _mandatory_.

Further more, "mandatory" shouldn't be used to educate dataproviders, but assure data quality.

@edroege Maybe you can clarify this in the spec: bibo

[2014-02-26 12:01] ksdm2e opened #27 "[FATAL] is missing required property <http://purl.org/dc/elements/1.1/format"
<pre>
[FATAL]  is missing required property <http://purl.org/dc/elements/1.1/format> (Condition: Annotatable WebResource)
</pre>

Not every WebResource is annotatable, e.g. the WebResource for a book points to a landing page. I am not sure, this validation is too strict.

I fixed it in my code anyway.

[2014-02-26 12:04] ksdm2e commented on #27
Or may I say:

Not every WebResource is worth to be marked as relevant for pundit from the perspective of the dataprovider.

[2014-02-26 12:05] kba commented on #27
The validator differentiates between WebResources in general and Annotatable WebResources, i.e. those that are the object of triples with the properties:
- edm:isShownBy
- edm:isShownAt
- edm:object
- dm2e:hasAnnotatableVersion

Only WebResources used in this context must have the dc:format property set.

See p.45 of the current specs on `dc:format` in `edm:WebResource`:

[code]

[2014-02-26 12:23] ksdm2e commented on #27
I omitted _dc:format_, where I do not expect the resource to be annotated. So the constraint doesn't fit here.

I use "text/html" now, but not “text/html-named-content”, so my WebResources are not marked as relevant for annotation (maybe; i have no feedback dta is suitable for pundit).

(Please: do not close issues to fast.)

[2014-02-26 12:26] ksdm2e opened #28 "[WARNING] is missing strongly recommended foobar"
Please change [WARNING]s, which are based on recommendations, to [INFO].

That's much more friendly.

(Thanks @kba! Finished. And announce updates.)

[2014-02-26 12:32] kba commented on #28
Currently, I have
- NOTICE (for things that are not a problem but may have eluded the mapper's attention)
- WARNING (for things that are not errors, but that contradict strong recommendations in the model)
- ERROR (for things that contradict strict assertions in the model, such as mandatory elements missing)
- FATAL (for errors that cripple the data to an extent where it can't be worked with sensi

[2014-02-26 13:28] ksdm2e commented on #28
Let me connect the second point and your last sentence: If a missing recommendation is causing a problem, then it should be an obligation (in our terms _mandatory_). A consumer shouldn't rely on recommended properites at all. Never.

But, a recommendation is a proposal or a nice-to-have. It depends on the potential of the existing data.

In my case: I don't want to be WARNed because of a missing w

[2014-02-26 13:42] kba opened #29 "Proposal: Make dc:format mandatory for WebResources referenced by edm:object"
According to the EDM v.5.2.4 (http://pro.europeana.eu/documents/900548/0d0f6ec3-1905-4c4f-96c8-1d817c03123c) and the Europeana Portal Image Policy (http://pro.europeana.eu/documents/900548/960640/Europeana+Portal+Image+Policy), the WebResource referenced by `edm:object` in an `ore:Aggregation` should be:
- the URL to an image representation of the CHO in the highest resolution available on the pro

[2014-02-26 13:52] kba commented on #28
If the recommendations strongly recommend something, the validator will warn you when that recommendation is not fulfilled. This is the definition of WARNING (see https://github.com/DM2E/dm2e-ontologies/blob/master/src/main/java/eu/dm2e/validation/ValidationLevel.java?source=c). If that particular strong recommendation is too strong, please request to change the specs instead.

Besides, you can fi

[2014-02-26 13:57] kba commented on #27
Okay, after discussion with @d0rg0ld  @edroege and @JIwanowa I'll change the validator to emit FATAL only when WebResources in `dm2e:hasAnnotatable` relations don't have dc:format.

[2014-02-26 14:00] #27 closed, assigned to nobody

[2014-02-26 15:18] d0rg0ld commented on #25
I agree with Kilian on this issue. I also agree that since we now have mandatory displayLevel it might not be necessary to use the optional levelOfHierarchy any more ...

[2014-02-26 16:04] chrmor opened #30 "Is the dingler dataset empty?"
http://data.dm2e.eu/data/html/dataset/uber/dingler/1392199702509

[2014-02-26 16:06] chrmor commented on #4
Any update on this dataset?

[2014-02-26 16:20] d0rg0ld commented on #9
@edroege I have looked up some examples for bibo:numVolumes and bibo:volume, in our case "numVolumes" can not be set to int because we have descriptions such as

"bibo:numVolumes1.1848(43) - 11.1848(53). Ohne ZÃ¤hlung(2.Okt.1948). 1.1848(54) - 5.1848(58)/bibo:numVolumes"

same holds for bibo:volume:

bibo:volume6,2/bibo:volume
bibo:volume6,3/bibo:volume
etc...

[2014-02-26 16:36] chrmor opened #31 "Missign edm:object"
Example:
http://data.dm2e.eu/data/html/resourcemap/onb/abo/%2BZ103504606/1391106413338

there is no edm:object triple. This is needed to provide a preview of the book.
Isn't it mandatory in the mapping?

[2014-02-26 16:57] d0rg0ld commented on #31
It is not mandatory and currently we are not able to provide edm:object (Although I hope that we will do so soon). At the Moment, only edm:isShownAt links will be provided with ABO content

[2014-02-26 16:59] d0rg0ld commented on #29
I would only make dc:format mandatory for edm:object - WebResources if you can _make sure_ that all possible source data formats understood by ImageMagick (As said in the Europeana Portal Image Policy) are allowed as MIME type. Otherwise (and most likely) I suggest not to make it mandatory

[2014-02-26 17:05] chrmor commented on #31
I really do not know what to show for this dataset. There is no content, images, texts, etc. I'll just skip it at the demo :-/

[2014-02-26 17:06] d0rg0ld commented on #31
I think this will be the best thing to do

[2014-02-26 17:27] chrmor opened #32 "Dates are difficult to use"
Representing dates like resources is ok.
Example:
http://data.dm2e.eu/data/timespan/onb/abo/1763-01-01T000000UG_1763-12-31T235959UG

But consuming this is very heavy as I need to get a full RDF resources with a lot of links that I do not need.
Would it be possible to include the date also as Literal in the RDF description of a e.g. persons?

[2014-02-26 17:28] chrmor opened #33 "WAB is Empty!"
http://data.dm2e.eu/data/html/dataset/uib/wab/1393434327660

[2014-02-26 17:34] d0rg0ld commented on #32
Already a while ago we decided to represent dates this way, mostly because we had to normalize dates to a common format, which is xsd:dateTime here. Unfortunately this resulted in the necessity to represent dates that are eg given as YYYY only as uncertain timespans ranging from YYYY-01-01T00:00:00 to  YYYY-12-31T00:00:00 .

So right now you will find two different versions of dates:
literals of r

[2014-02-26 17:35] d0rg0ld commented on #32
TimeSpans, however will have a label that you can find with the skos:prefLabel property of the timespan resource

[2014-02-26 17:35] chrmor opened #34 "Remove fabio:Page"
Example:
http://data.dm2e.eu/data/html/resourcemap/uib-ffm/sammlungen/urn:nbn:de:hebis:30:2-11683-phys1970999/1390576653139

http://purl.org/spar/fabio/#Page is wrong, you should use dm2e:Page!

[2014-02-26 17:41] chrmor opened #35 "Single pages without book?"
CHOs are single pages? No CHO (boo)k exists that contains them.
It is correct?
How should I treat them?

[2014-02-26 17:47] chrmor opened #36 "Cannot understand the correct version to check!"
I cannot get what is the correct version of the dataset, some are empty some have messy data.

Please delete the old datasets if possible! Or clearly give a name to the version last version.

[2014-02-26 17:49] chrmor opened #37 "Gei Digital is Empty!"
http://data.dm2e.eu/data/html/dataset/gei/gei-digital/1391717717253

.. or I'm looking at the wrong version? please delete old versions!

[2014-02-26 18:08] chrmor commented on #36
I guess the correct version is
http://data.dm2e.eu/data/html/dataset/ub-ffm/sammlungen/1393382287795

How do I recognize it when the url will change?

[2014-02-26 18:13] chrmor opened #38 "Data provider Resource too Big"
I cannot consume resources like

http://data.dm2e.eu/data/agent/ub-ffm/sammlungen/Universit%C3%A4tsbibliothek_JCS_Frankfurt_am_Main

They take ages to load as the contains a lot of triples.

However I need a way of getting at least the label of the content provider.
Would it be possible to put the relative triple in the representation of the CHO? so I do not have to follow this link?

What other a

[2014-02-26 20:42] knepper commented on #34
Strange dataset (wrong provider name with an extra i) is - apart from this - months old and completely obsolete. See ticket #5. All data http://data.dm2e.eu/data/html/resourcemap/uib-ffm/sammlungen need to deleted but I cannot. Causes continuous confusion.

Please note the wrong privider name "uib-ffm" with an extra i.

[2014-02-26 20:53] knepper commented on #35
No. There is always a book that contains the pages. Can you give me hint to track this issue, just an example of a single page?
From the numbers of the ingested titels and pages I can see that there is a significant loss of data ( ca. 20%) after ingestion. If the book is lost and the pages are not - this might be the result.

How can this loss happen?

However, if I have an identifier I can check

[2014-02-26 20:59] knepper commented on #36
I have the same problem. I have problems to find my data and my versions. The more I work on my data the bigger gets the mess of versions.

This cited version is quit new and should be not too bad.

[2014-02-26 21:07] knepper commented on #38
There is just a single property in this resource:

[code]

Thats all.

But there are - automaticly generated -  links back to all resources using this resource. They might be the problem.

This would be a general problem because all CHO must have a link to the data provider. There is no workaround for the data mapping if this is the reason.

[2014-02-26 21:16] knepper commented on #37
gei-digital needs the last model adaptions (rdf:datatpye...) - can be deleted completely. New dataset is coming soon.

Check ub-ffm first.

[2014-02-26 21:42] kba commented on #29
Yes, that is what I meant: Only for WebResources that are used as objects related by `edm:object` to the Aggregation, **not** WebResources in general. Yes, the list of MIME types is probably not exhaustive, we can expand it when the need arises but I would like the validation to notice when something unusual is set, so I need a fixed set of values (i.e. prevent `text/html` and such).

[2014-02-26 21:49] kba commented on #32
In the Linked Data API Java Client, I use this method for parsing dates:

[code]

If the date is a literal, try to parse it as an xsd:dateTime. If it is a resource, assume it to be an edm:TimeSpan and parse the edm:begin of it as an xsd:dateTime. While rather simplistic, using this approach covers those cases where you can get a reasonable result for processing further (i.e. a known dates and year

[2014-02-26 23:45] kba commented on #35
@knepper You're right, there was a loss of data at ingestion, we're still hunting down the cause of the problem. Could well be that this is the source of the problem. @chrmor please provide an example URL so we can investigate.

[2014-02-26 23:47] kba commented on #36
http://data.dm2e.eu/data/html/dataset/ub-ffm/sammlungen/1393382287795 is the version I ingested last night. The newer versions were generated while we've been hunting down the bug that made the ingestion croak on Marko's (valid) data.

[2014-02-26 23:57] kba commented on #38
Yes, this is a serious problem. The culprit here are the places, since very few of them relate to so many CHOs/Aggregations, i.e. Frankfurt pulls in all the data from UBFFM/Sammlungen, Berlin all the data from BBAW/DTA. I already tweaked the responsiple SPARQL query to only pull in book-level CHOs but it's still too slow. My workaround is to heavily use caching and get the places in the cache as e

[2014-02-27 00:07] kba commented on #38
@chrmor As an ad-hoc workaround to get you going, I temporarily disabled the backlinking altogether until we find a solution to improve performance. http://data.dm2e.eu/data/html/agent/ub-ffm/sammlungen/Universit%C3%A4tsbibliothek_JCS_Frankfurt_am_Main should now load in a few ms.

@kaiec The title on http://data.dm2e.eu/data/html/agent/ub-ffm/sammlungen/Universit%C3%A4tsbibliothek_JCS_Frankfurt_a

[2014-02-27 08:29] edroege commented on #25
Agree. I leave the property where it is.

@d0rg0ld Therefore levelOfHierarchy is optional - the provider can use it or not. I suggest to wait for more valid mappings and how the search interfaces can handle the data before we delete the property.

[2014-02-27 08:32] edroege commented on #30
Strange. Is this an ingestion error? @kba can you help?

[2014-02-27 08:37] edroege commented on #9
Okay. Maybe providers who have only numbers can indicate that by usinh xsd:int. Anyone else uses literals. Or does that make the validation too complicated?

[2014-02-27 08:51] d0rg0ld commented on #9
@kba thanks for your remarks regarding the recommendations. I have looked up the proposed alternatives to xsd:integer and suggest to use xsd:unsignedInt as a type, just to be on the safe side.

ok?

[2014-02-27 08:59] d0rg0ld commented on #4
Working on it _today_, only minor changes. I hope to be finished in the evening and will let you know.

[2014-02-27 09:36] ksdm2e commented on #25
It is a good practice in programming, to set properties, which are probably not needed anymore, as _deprecated_ first.

It is a superfluent property, so nobody will get hurt, if it's in the data.

"Deprecated" properties might also be validated with @kba's tool and noticed as "WARNING", because the immediate deletion of the property will break all current transformations. (As it is the case with d

[2014-02-27 09:50] edroege commented on #25
Good idea. Will keep that also in mind when we revise all properties in the model. For now, levelOfHierarchy stays in the model without changes but if turns out that it is not used or needed, we will mark it as deprecated

[2014-02-27 11:59] kba commented on #9
Sure, xsd:unsignedInt is fine.

[2014-02-27 14:56] knepper commented on #34
This obsolete dataset is deleted now, thanks - Solved!

[2014-02-27 14:56] #34 closed, assigned to Dommii

[2014-02-27 14:58] knepper commented on #36
The old versions are deleted, I can already see ingestion tests for the new data, thanks again - solved!

[2014-02-27 14:58] #36 closed, assigned to nobody

[2014-02-27 16:18] JIwanowa commented on #30
Hi Christian, this dataset is empty indeed. I ingested a new dataset today, which is only for test purposes. You can find this: http://data.dm2e.eu/data/html/dataset/uber/dingler/1393515961557
The CHOs on Page-Level are here: http://data.dm2e.eu/data/html/resourcemap/uber/dingler/issue_pj001/1393515961557 and for the second issue here: http://data.dm2e.eu/data/html/resourcemap/uber/dingler/issue_p

[2014-02-27 16:21] kba opened #39 "bibo:Issue is missing in the DM2E Model Specs as allowed PhysicalThing subtype"
In "3.7 edm:PhysicalThing: Subclasses" there is no Class defined for an Issue of a serial work. This should be `bibo:issue` I think.

[2014-02-27 16:24] JIwanowa commented on #39
Yes, we already use bibo:Issue in the UBER mapping. We'll add the bibo:Issue as Subclass of edm:PhysicalThing in the DM2E specification Rev1.5.

[2014-02-27 16:30] kba opened #40 "Validator should detect unknown URIs used in dc:type"
Currently the validator allows arbitrary URI resources as object in triples

[code]

?dc_type must be one of the enumerated URI values listed in 3.7

[2014-02-27 17:41] d0rg0ld opened #41 "Error when running validator"
I am trying to run

java -jar dm2e-validate.jar -version "1.1_Rev1.4" -terse test.rdf

on a file successfully validated in http://www.w3.org/RDF/Validator/rdfval

and I only get the following error message:

! Jena croaked on file /media/sf_devel/test.rdf. Are you sure it is 'RDF/XML'.  http://RELATIVE_URL/ Code: 11/LOWERCASE_PREFERRED in HOST: lowercase is preferred in this component

Please find

[2014-02-27 17:50] d0rg0ld commented on #41
btw, it is the newest (27.2. 18:00) version of the jar file

[2014-02-27 18:26] kba commented on #41
Should be fixed now, please update.

[2014-02-28 02:00] #40 closed, assigned to kba

[2014-02-28 09:57] d0rg0ld commented on #41
Great, works now. So far it looks good, I just get one annoying error:

[ERROR] INVALID_DATA_PROPERTY_RANGE     http://purl.org/ontology/bibo/number

bibo number is set to http://www.w3.org/2001/XMLSchema#unsignedInt - is it not implemented yet? What else should I use?

Thanks!

[2014-02-28 10:11] kba commented on #41
1.1_Rev1.3 and 1.1._Rev1.4 expect `xsd:int`. I included a draft of the next revision 1.1_Rev1.5 which expects `xsd:unsignedInt`.

Edit: Ah, I actually forgot to expose that in the tool, will fix right away.

[2014-02-28 10:26] d0rg0ld commented on #41
ok thanks, I will stick to 1.4 now ...

[2014-02-28 10:26] d0rg0ld commented on #41
!! Error parsing command line options:  Unrecognized version string '1.1_Rev1.5-DRAFT'

[2014-02-28 10:28] kba commented on #41
Sorry, still building :)

[2014-02-28 10:29] kba commented on #41
Ok, now it's finished, please re-download.

[2014-02-28 10:31] d0rg0ld commented on #41
thx, seems to work now, I validate the files and will report then ...

[2014-02-28 10:32] kba commented on #41
all right, keep in mind, that 1.5 is a DRAFT, I will make sure that the behavior is correct when the new version is released.

[2014-02-28 10:33] kba commented on #39
Fixed in 1.1_Rev1.5-DRAFT of the validator.

[2014-02-28 10:45] d0rg0ld commented on #41
[ERROR] UNKNOWN_PROPERTY  http://rdvocab.info/ElementsGr2/otherDesignationAssociatedWithTheCorporateBody

This property is already part of Rev1.3

[2014-02-28 10:55] kba opened #42 "rdaGr2:otherDesignationAssociatedWithTheCorporateBody not in the validator"
[ERROR] UNKNOWN_PROPERTY http://rdvocab.info/ElementsGr2/otherDesignationAssociatedWithTheCorporateBody

This property is already part of Rev1.3

[2014-02-28 10:55] kba commented on #41
Will fix but please open a new issue next time https://github.com/DM2E/dm2e-mappings/issues/42

[2014-02-28 10:55] #41 closed, assigned to kba

[2014-02-28 10:56] d0rg0ld commented on #41
ok, i will!

[2014-02-28 10:57] kba commented on #42
@edroege @JIwanowa Can you please update the OWL files? I get the whitelist of allowed properties from there and they aren't accurate.

[2014-02-28 10:57] d0rg0ld opened #43 "dm2e:incipit & dm2e:explicit should be repeatable"
Just came across such a case:

[code]

[2014-02-28 10:59] d0rg0ld commented on #43
for now i will probably just merge all entries

[2014-02-28 12:38] kba commented on #43
Is not an error in 1.1_Rev1.5-DRAFT anymore.

[2014-02-28 14:04] chrmor commented on #38
Ok , then. But I do not understand one thing: will I find the same problem in other datasets? or you fixed it once of all?

[2014-02-28 14:09] chrmor opened #44 "Unofficial namespace?"
The data at:
http://data.dm2e.eu/data/html/dataset/ub-ffm/sammlungen

is using now an "UNOFFICIAL" namespace.
Also datasets are empty.

[2014-02-28 14:11] chrmor commented on #30
Please notify when you have a new dataset ingested. The test one is gone

[2014-02-28 14:12] chrmor commented on #37
Please notify when you have a new dataset ingested.

[2014-02-28 14:13] chrmor opened #45 "500 server error"
http://data.dm2e.eu/data/dataset/mpiwg/rare

[2014-02-28 14:16] chrmor commented on #33
Is a

[2014-02-28 14:16] #45 closed, assigned to nobody

[2014-02-28 14:55] chrmor opened #46 "no dc:format data ingested (fatal error)"
Example:

http://data.dm2e.eu/data/html/resourcemap/uber/dingler/page_pj022_pb150/1393515961557

there is no dc:format for the annotatable resource.

[2014-02-28 14:58] kba commented on #46
@JIwanowa  How did you get that ingested, did you turn off validation?

[2014-02-28 14:59] kba commented on #37
Ingestion is running currently, about 70% done. Give it another hour or so and it should be finished. When it is, result will be at http://data.dm2e.eu/data/dataset/gei/gei-digital/20140228141018901

[2014-02-28 15:00] kba commented on #33
That whole dataset is a mess and should be wiped and re-ingested.

[2014-02-28 15:02] kba commented on #38
Yes, it is fixed for all contextual resources in all datasets. Drawback is, that you don't get backlinks for them anymore. But it should be very fast and easy now to get things like `skos:prefLabel` or `foaf:name` or whatever.

[2014-02-28 15:02] chrmor opened #47 "Difficult to handle content for Annotation"
Resource like the following

http://data.dm2e.eu/data/html/resourcemap/uber/dingler/page_pj022_pb150/1393515961557

have an Annotatable Version that is an HTML page.
Is contains both text (trascription) and images (facsimile).
It would be VERY IMPORTANT to SHOW THEM IN THE DEMO.

However:
Images are enclosed in a viewer and text is somewhere in the HTML DOM.
Does this respect the specifications we

[2014-02-28 15:03] kba commented on #44
No, the UNOFFICIAL namespace (http://onto.dm2e.eu/UNOFFICIAL/) is being used for things related to pubby/linked data api. They should be moved into the official dm2e ontology ASAP.

[2014-02-28 15:04] kba commented on #30
http://data.dm2e.eu/data/html/dataset/uber/dingler/1393515961557

[2014-02-28 15:09] #30 closed, assigned to nobody

[2014-02-28 15:13] chrmor commented on #38
Well this is a bit sad as we cannot use such backlinks e.g. for recommendations.
But this is a limit of the pure Linked Data interface. Fact is you would need SPARQL to implement such things.

[2014-02-28 15:20] chrmor commented on #35
the dataset is empty at the moment...waiting for re-up and the Ill check

[2014-02-28 15:59] knepper commented on #35
They are in the queue since yesterday and I hope they are ingested soon.

[2014-02-28 16:30] d0rg0ld commented on #4
Finished with the Codices mapping, sent data as tar to @kba and @Dommii for ingestion. OmNom seems to be down right now (Josso Login not available)

[2014-02-28 17:11] d0rg0ld opened #48 "Issues with ABO validation tests for1.1_Rev1.5-DRAFT"
Here I collect issues I encounter while working with ABO mappings and the validator 1.1_Rev1.5-DRAFT

1) foaf:Organization not allowed as dc:subject --> plz fix
[ERROR] INVALID_OBJECT_PROPERTY_RANGE   http://data.dm2e.eu/data/agent/onb/authority_gnd/4029989-2

2) foaf:Person not allowed as dc:subject --> plz fix
[ERROR] INVALID_OBJECT_PROPERTY_RANGE   http://data.dm2e.eu/data/agent/onb/authority_g

[2014-02-28 18:20] JIwanowa commented on #46
No I didn't turned any think. I just ingested the data normally and didn't get any error by the ingestion. The properties that I used are these: base = http://data.dm2e.eu/data/dataset/
provider = uber
dataset = dingler
label = Dingler Online
use-oai-pmh = false
input = /data/INBOX/test_dingler_27_02_2014/julia-uber-dingler-rdfdata-2014-02-27-version3-only-as-test.zip
keep-temporary = false
dm2e-m

[2014-02-28 21:53] knepper commented on #44
Who should move? Where are my data? Help :-)

This is the data file (fra-item-DM2Ev11Rev14-2014-02-27-rdf.zip):
http://omnom.dm2e.eu/api/file/1c8e2557-854b-4213-8c6d-9f264be7a1e5

[2014-02-28 22:25] kba commented on #44
This has nothing to do with data providers, it just concerns a few (five or so) properties that we use in Pubby.

Your data will be ingested tonight and be available at http://data.dm2e.eu/data/dataset/ub-ffm/sammlungen/20140301004538912.

[2014-02-28 22:29] kba commented on #38
Yes, you're right and we do use SPARQL in the backend. The balancing act is to provide the interesting backlinks in a reasonable fast and general implementation without dragging down the performance and precision by pulling in every backlink in the store. We need to tweak the queries. Exposing the SPARQL endpoint is probably a bad idea because it shifts the responsibility of writing efficient quer

[2014-02-28 22:33] kba commented on #4
@d0rg0ld Omnom is up and running: http://omnom.dm2e.eu.

Ingestions are running.

[2014-02-28 22:33] chrmor commented on #38
Right.
Perhaps we need to implementare in the future some server sode logic to
filter "interesting backlinks". At least If we want "smart" behaviors in
clients like Feed.
Il 28/feb/2014 23:29 "kba" notifications@github.com ha scritto:

[2014-02-28 22:51] kba commented on #48
The ranges of dc:subject are not flawed per se, they are a fixed list derived from the DM2E Model Specifications document. The OWL file is not complete, plus keeping a list of the subclasses actually allowed in the model is faster than doing even simple reasoning. We can do that at a later stage. For now I just add them by hand. There aren't that many anyway:
- edm:Agent
  - foaf:Person
  - foaf:O

[2014-02-28 23:15] kba commented on #38
As a short-term solution, maybe we can agree on a core set of specific properties and classes that you'd need links back from a contextual object, depending on what you actually need in Feed. You are probably not interested in all the aggregations that are related to a place (i.e. the fact that all the Aggregations by Wittgenstein are related to Bergen) but you are interested in the CHOs that are

[2014-03-01 01:17] kba commented on #44
Is ingested.

[2014-03-01 10:12] kba commented on #35
Was re-ingested completely tonight.

[2014-03-01 13:15] knepper commented on #38
This solution is already working?

http://data.dm2e.eu/data/agent/ub-ffm/sammlungen/Universit%C3%A4tsbibliothek_JCS_Frankfurt_am_Main

has no backlinks while other useful backlinks are still there?

[2014-03-01 13:18] knepper commented on #35
Ingest is there! Look at this example:

http://data.dm2e.eu/data/html/resourcemap/ub-ffm/sammlungen/291036384/20140301004538912

Do you still find pages without book? If so, please send a link/id.

[2014-03-01 13:24] knepper commented on #37
Ingest is done, but the link is
http://data.dm2e.eu/data/dataset/gei/gei-digital/20140301021526607

An example book is
http://data.dm2e.eu/data/html/resourcemap/gei/gei-digital/PPN638179718/20140301021526607
It is a book with pages which is part of a multivolume book. (The multivolume book has no pages but the volumes.)

[2014-03-01 13:24] #37 closed, assigned to nobody

[2014-03-01 22:13] knepper commented on #44
Ingested data look nice - thanks!

But what does it mean: "They should be moved into the official dm2e ontology ASAP."

[2014-03-01 22:57] knepper commented on #13
I would like to vote for removing the property. It's a redundant information - If you save the effort to generate the numbers from isNextInSequence, you will need the same effort to check the consistency of bibo:number and isNextInSequence. Otherwise, you risk to break the display later.

My vote: It's easier to calculate then to check and correct.

In general, the model should avoid redundant inf

[2014-03-03 08:42] JIwanowa commented on #47
Sorry, but we have to map facsimiles-images and transcription-html into the same CHO. The reason for that is, that we have no possibility to extract neither the images nor the transcriptions. The resources will be of the type like this: http://dingler.culture.hu-berlin.de/journal/page/pj001?p=00000017

As we are not the owner of the resources and don't have any access to the backend database, we c

[2014-03-03 08:55] edroege commented on #29
Added as proposed by kba in rev 1.5

[2014-03-03 09:01] edroege commented on #9
So for which properties should we now use xsd:unsignedInt? bibo:numVolumes and bibo:volume or all properties named in this issue besides bibo:numVolumes and bibo:volume?

[2014-03-03 09:06] edroege commented on #39
Added in model rev 1.5

[2014-03-03 09:06] #39 closed, assigned to edroege

[2014-03-03 09:16] edroege commented on #43
We have thought that opening and ending words of a manuscript would only occur once. Could you explain the case @d0rg0ld  ? Are these different languages or different editions of a manuscript? Shouldn't they be two different CHOs then?

[2014-03-03 09:21] d0rg0ld commented on #43
As you can see in the example above, I encounter it in the metadata. It looks like the same language to me and the tag [prolog] suggests that the first line of each pair seems to be the beginning of the incipit/explicit and the other its end, respectively.

According to http://www.hbz-nrw.de/dokumentencenter/produkte/verbunddatenbank/aktuell/plausi/TIT.pdf MAB Field 661 ( With indicator a being th

[2014-03-03 09:22] edroege commented on #43
Okay, fixed in model revision 1.5

[2014-03-03 09:22] #43 closed, assigned to edroege

[2014-03-03 09:23] d0rg0ld commented on #43
thank you!

[2014-03-03 15:13] #29 closed, assigned to nobody

[2014-03-03 15:44] #4 closed, assigned to d0rg0ld

[2014-03-03 16:01] chrmor opened #49 "problems with namespaces"
here the ? indicates some broken namespace, I guess:

http://data.dm2e.eu/data/html/agent/onb/authority_gnd/100952798

[2014-03-03 16:24] kba commented on #49
Fixed

[2014-03-03 16:24] #49 closed, assigned to nobody

[2014-03-03 16:40] chrmor opened #50 "Empty dataset"
http://data.dm2e.eu/data/html/dataset/ub-ffm/sammlungen/20140301004538912

[2014-03-03 16:49] kba commented on #50
Yes, I was working on that (see Skype).

[2014-03-03 16:49] #50 closed, assigned to nobody

[2014-03-03 18:31] chrmor commented on #21
Yeah. Lucky you if you can use SPARQL!

[2014-03-03 18:31] chrmor commented on #20
Is this one fixed?
Can you point me at something that is not an Empty Page ?

[2014-03-03 19:00] chrmor opened #51 "dc:format problem"
dc:format should be associated to the AnnotatableVersion an not to the aggregation, as in:

http://data.dm2e.eu/data/rdf/resourcemap/mpiwg/harriot/MPIWG_D69UV91B_00009/20140228232845114

[2014-03-03 19:13] kba commented on #21
I retrieve the ResourceMap in question using the API (e.g. http://data.dm2e.eu/data/html/resourcemap/mpiwg/harriot/MPIWG_0HE26A22/20140228232845114) and then run the SPARQL query on the result. You can do that do, can't you?

[2014-03-03 19:15] kba commented on #21
See https://github.com/DM2E/dm2e-oai/blob/refactor/src/main/java/eu/dm2e/linkeddata/model/ResourceMap.java

[2014-03-03 20:32] kba commented on #51
Ah, this is a weird SPARQL query in Pubby:

[code]

@kaiec you know why this is?

Can't fix right now though, because ingestions are running.

[2014-03-03 21:11] OyvindLGjesdal commented on #8
dm2e-validate.jar does not report on this error. Fixed, will close when updated.

[2014-03-03 21:27] chrmor opened #52 "no dc:format for annotatableversion"
http://data.dm2e.eu/data/html/resourcemap/onb/codices/%2BZ103938400_101/20140301001753486

[2014-03-03 21:30] d0rg0ld commented on #52
dc:format is there, its probably not visible because the annotatable resource has a Web URL as URI

[2014-03-03 21:34] d0rg0ld commented on #52
The source RDF data:

[code]

[2014-03-03 21:36] chrmor opened #53 "No pages on this one?"
http://data.dm2e.eu/data/item/ub-ffm/sammlungen/322980143

[2014-03-03 21:42] OyvindLGjesdal commented on #7
How about using dc:type "dm2e:Manuscript" as mentioned in 3.8 of the model? I will ask Alois which mappings to use here.

[2014-03-03 21:44] chrmor opened #54 "no dc:format for annotatable version"
http://data.dm2e.eu/data/rdf/resourcemap/ub-ffm/sammlungen/320380742_phys5001862/20140301004538912

[2014-03-03 22:02] chrmor commented on #47
Ok I'll try to support this in some way.
In the meantime...where is the dataset? :-)

[2014-03-03 22:18] chrmor commented on #52
I don't know where did you take the rdf but this one:

http://data.dm2e.eu/data/rdf/resourcemap/onb/codices/%2BZ103938400_101/20140301001753486

has no dc:format

[2014-03-03 22:33] d0rg0ld commented on #52
Well the snippet above is my source RDF that was ingested, so the dc:format should be in the Triplestore, just for you to know. I don't know how Pubby extracts the RDF that you get, but I guess it's exactly there where the information for the WebResources gets lost along the way (the rights statement is missing too)

[2014-03-03 22:39] d0rg0ld commented on #52
I guess this is also the case for the other content providers. I remember that we already talked about this before. I hope that this can be solved through reconfiguring the Pubby queries. @kba and @kaiec will this be possible?

[2014-03-04 08:23] knepper commented on #54
My data are looking like this

[code]

How can I check this in pubby?

[2014-03-04 08:27] knepper commented on #53
No. Pages are lost at mapping time, will be fixed.

[2014-03-04 08:30] knepper commented on #52
see #54

[2014-03-04 08:31] knepper commented on #54
see #52

[2014-03-04 08:46] chrmor opened #55 "Cannot get the list of CHOs"
http://data.dm2e.eu/data/html/dataset/gei/gei-digital/20140301021526607

I got an error. Konstantin, could you check if you are returning only ten results (as said yesterday)?

[2014-03-04 08:50] chrmor opened #56 "Authors resources not reachable"
From here:

http://data.dm2e.eu/data/html/resourcemap/onb/codices/%2BZ103990409/20140301001753486

I cannot access the author resource:
http://data.dm2e.eu/data/agent/onb/codices/%2BZ103990409%2FVerschiedene_%5BVerfasser%5D

[2014-03-04 08:54] knepper commented on #9
I would like vote here again for removing all three (bibo:number, dm2e:levelOfHierarchy, bibo:numPages) from the mapping. They sholud be calculated after ingest.

We should distinguish between the the metadata of the physical CHO and the parameters for display. The three above are parameters for display and need to be consistent for display. If we trust on the mapping we will risk to break the dis

[2014-03-04 09:07] d0rg0ld commented on #9
Dear Marko,

on a long term this will be the right way to go, but given the problems with the current storage system I doubt that it would be helpful to let the system calculate the values for millions of CHOs. Ingestion already takes a long time and it most likely will take a magnitude longer if such calculations have to be done too. Therefore I strongly advise to stay with the current solution u

[2014-03-04 09:26] kba commented on #8
Yes it does. Please download the latest version and check again. If it still doesn't report that as an error (SHOULD_BE_LITERAL, INVALID_DC_TYPE), open a new issue.

[2014-03-04 09:28] ksdm2e opened #57 "DM2E 1.1 rev15: edm:currentLocation and dm2e:shelfmarkLocation as edm:Place"
In rev.1.5 the range of of edm:currentlocation and dm2e:shelfmarkLocation was changed to edm:Place. According to p. 67, edm:Place is "extent in space, in particular on the surface of the earth, in the pure sense of physics".

Locating a certain issue of a work is not a matter of geo referencing, but the correlation to a holding institution (edm:Agent) and an identifier (shelfmark, german: "Signatu

[2014-03-04 09:29] kba commented on #54
Caused by #51

[2014-03-04 09:30] kba commented on #52
Caused by #51

[2014-03-04 09:34] d0rg0ld commented on #51
I think that two things are mixed up here. If I retrieve the RDF for my codices example - http://data.dm2e.eu/data/rdf/resourcemap/onb/codices/%2BZ103938400_101/20140301001753486 - dcformat is _NOT_ in the aggregation. Therefore we are dealing with two distinct problems here, IMHO

[2014-03-04 09:34] d0rg0ld commented on #56
I think I have to fix the URI

[2014-03-04 09:35] d0rg0ld commented on #57
I agree with @ksdm2e , +1

[2014-03-04 09:36] d0rg0ld commented on #52
Dont think that this is analogous to #51

[2014-03-04 09:48] kaiec commented on #9
At least until the review it will stay like this. But in general I agree
with Marko. But such numbers would have to be calculated DURING
ingestion as part of the publication service or direct ingestion, I
don't think that it will tremendously increase the ingestion time and
performance of the storage system shouldn't be an issue at this stage.

Am 04.03.2014 10:07, schrieb d0rg0ld:

[2014-03-04 09:49] kba commented on #51
OK, there's an error in the data anyway (that dc:format is assigned to the aggregation) but the SPARQL error should be fixed now.

[2014-03-04 09:50] d0rg0ld commented on #51
Looks good, thanks!

[2014-03-04 09:58] kba commented on #52
Please check the RDF again, dc:format is there for the WebResource:

[2014-03-04 09:58] kaiec commented on #51
Sure, this adds the tripel about the format of the annotatable version
to the RDF data for Christian.

Am 03.03.2014 21:32, schrieb kba:

[2014-03-04 09:59] kba commented on #52
And the fact that it is not displayed in the HTML version should not be the problem for @chrmor since he uses the RDF data.

[2014-03-04 10:01] kaiec commented on #51
Ah, now I see it. Of course the 1.1 in the URI has to be removed to get
it working again. @kba: Do you fix this?

Am 04.03.2014 10:58, schrieb Kai Eckert:

[2014-03-04 10:01] kba commented on #51
No, the old SPARQL assigned the dc:format of all annotatable web resources to the aggregation which was wrong. Now I just add all the annotatable web resources as a whole to the resourcemap:

[code]

[2014-03-04 10:01] #51 closed, assigned to kaiec

[2014-03-04 10:05] #52 closed, assigned to kba

[2014-03-04 10:07] kba commented on #56
I think this is an issue with Pubby, the request is not even passed on to Fuseki.

[2014-03-04 10:09] kba commented on #54
Fixed by #51.

[2014-03-04 10:09] #54 closed, assigned to kba

[2014-03-04 10:12] d0rg0ld commented on #56
but why does it work for other resources? http://data.dm2e.eu/data/html/agent/onb/authority_gnd/138907285 works. Probably its due to the special chars in the URI?

[2014-03-04 10:12] OyvindLGjesdal commented on #8
[ERROR] SHOULD_BE_LITERAL   http://purl.org/dc/elements/1.1/format

[2014-03-04 10:14] kba commented on #56
Yes, the last URL segments encodes

[code]

So yes, the Slash is the problem I suppose.

[2014-03-04 10:15] d0rg0ld commented on #56
Ok, Ill try to fix it - Will have to reingest later today

[2014-03-04 10:16] kba commented on #8
@OyvindLGjesdal: Right, so it correctly reports the error now?

[2014-03-04 10:18] OyvindLGjesdal commented on #8
Yes I just didn't see the report for the error after removing the fatal one.

[2014-03-04 10:22] kba commented on #8
@OyvindLGjesdal  Is a fatal error now, please update.

[2014-03-04 10:25] chrmor opened #58 "Annotatable version is not an image"
http://data.dm2e.eu/data/html/resourcemap/mpiwg/rara/MPIWG_0RE3TSV0_00014/20140303175001587

the cd:format says "image" but the link goes to an html page.

[2014-03-04 11:39] JIwanowa commented on #46
Now I ingested a test dataset from dingler: http://data.dm2e.eu/data/html/dataset/uber/dingler/20140304122625645

@chrmor: Please let me know if there are some more errors! I turned off the validation, because of the [FATAL]  uses an unknown dc:type http://purl.org/spar/fabio/Article, which is actually not right. I am aware of some errors within the .../dingler/page/_pj022... and I am still workin

[2014-03-04 11:42] knepper commented on #55
There is a result without error now and looks good.

[2014-03-04 11:42] #55 closed, assigned to nobody

[2014-03-04 11:43] edroege commented on #57
I general, it would be good to have either resources or literals as ranges. If not, we have problems with the owl representation. Can we just have Literal and I will make it as a subproperty from something else than currentLocation

[2014-03-04 11:44] knepper commented on #38
Seems to be solved - I close it.

[2014-03-04 11:44] kba commented on #46
The validation problem is fixed, dingler contains no errors. You can go ahead and ingest the whole thing.

[2014-03-04 11:47] knepper commented on #35
Is the problem with ingest losses solved? Did you check the number of ingested items?

[2014-03-04 11:56] ksdm2e commented on #57
Maybe my last sentence was missleading.

I meant range of
- edm:currentLocation: edm:Agent, edm:Place, edm:WebResource(?)
- dm2e:shelfmarkLocation: rdf:Literal

That would be sufficient for our usage and interpretation.

[2014-03-04 12:01] knepper opened #59 "Known Bug in timespan resources: Wrong dateTime."
Example:

[code]

Reason: Freestyle mods data.

[code]

Will be fixed by mapping - might be common.

[2014-03-04 12:35] edroege commented on #57
The definition of edm:currentLocation is "Current location of physical CHO, possibly a library building." (DM2E) and "The geographic location and/or name of the repository, building, site, or other entity whose boundaries presently include the resource." I would not read it as if agents should be allowed here and in my opinion, we would mix the semantics a lot up by adding agents and web resources

[2014-03-04 12:56] kba commented on #35
i have no numbers, but this ingest sent through without problems, no losses.

[2014-03-04 13:10] knepper commented on #57
As far as I understand it we will need three properties if we want to cover everything:
- edm:currentLocation with definition of europeana: "The geographic location whose boundaries presently include the CHO. If the name of a repository, building, site, or other entity is used then it should include an indication of its geographic location."

[code]
- Owner and holder: In our case the holder and o

[2014-03-04 13:12] knepper commented on #35
Nice :-)

[2014-03-04 13:12] #35 closed, assigned to kba

[2014-03-04 13:16] kba commented on #59
yes, another common violation of xsd:dateTime are literals like

[code]

note the three leasing digits. these should be left-padded with zeroes. i think this is in mpiwg/rara.

the validator is more lenient than our triplestore at the moment. will be fixed

[2014-03-04 13:39] ksdm2e commented on #57
@edroege I also think "possibly a library building" is creepy, because it mixes a geo location and the conceptual location in the the library system.

Also, "The geographic location and/or name of the repository" is ambivalent. Because in my case I could argue, that "the name of the repository" is mere an agent than a place.

However, _holdingInstitution_ came also to my mind once before, so I wou

[2014-03-04 13:43] d0rg0ld commented on #59
ah good to know, I will fix this for the codices

[2014-03-04 14:07] edroege commented on #57
Thank you for your input! To summarise it: We will add a new property dm2e:holdingInstitution (domain CHO, range foaf:organization), change the range from dm2e:shelfmarkLocation to literal and make the dm2e:scopeNote of edm:currentLocation clearer ("Current geographic location of physical CHO.") in model rev. 1.6.

[2014-03-04 14:07] #57 closed, assigned to nobody

[2014-03-04 14:28] d0rg0ld opened #60 "1.5-DRAFT issues in validator"
1) should be fixed since Rev1.3 -> Probably still missing in the owl file

[ERROR] UNKNOWN_PROPERTY        http://rdvocab.info/ElementsGr2/otherDesignationAssociatedWithTheCorporateBody

2) [ERROR] ILLEGALLY_UNTYPED_LITERAL       http://purl.org/ontology/bibo/numPages
It is allowed to use rdf:Literal, so it does not have to be typed, is this correct?

[2014-03-04 14:37] JIwanowa commented on #46
Couldn't ingest more data due to an "[FATAL]  has unsupported MIME type 'text/html'" Error. The text/html should be support at least for our data.

[2014-03-04 14:39] JIwanowa opened #61 "[FATAL] has unsupported MIME type 'text/html'"
Couldn't ingest more data due to an "[FATAL] has unsupported MIME type 'text/html'" Error. The text/html should be support at least for our data.

[2014-03-04 15:00] d0rg0ld commented on #60
@edroege could you please check if http://rdvocab.info/ElementsGr2/otherDesignationAssociatedWithTheCorporateBody is present in the current OWL file? Thanks a lot!

[2014-03-04 15:09] kba commented on #61
text/html is allowed for dm2e:hasannotatableVersion webresources but not for edm:object webresources.

_please_ always provide input data, build date of the validator and how you used it and log output.

[2014-03-04 15:11] kba commented on #46
lets continue this in #61

[2014-03-04 15:11] #46 closed, assigned to JIwanowa

[2014-03-04 15:24] kba commented on #60
2) fixed

1) fixed by hardcoding. dont have time to investigate further.

will push and publish when i have stable connection

[2014-03-04 15:25] d0rg0ld commented on #60
thx!

[2014-03-04 16:22] d0rg0ld opened #62 "printedAt / publishedAt should be repeatable"
@edroege / @JIwanowa / @kba :

According to the MAB specification, the location of printing and publishing can be repeatable:

410 Ort(e) des 1. Verlegers, Druckers usw.
410_
410a Verlagsort(e)
Druckort(e)
412 Name des 1.Verlegers, Druckers usw.
412_
412a Verleger
Drucker
415 Ort(e) des 2. Verlegers, Druckers usw.
415_
415a Verlagsort(e)
Druckort(e)
417 Name des 2.Verlegers, Druckers usw.
417_
417

[2014-03-04 16:31] ksdm2e commented on #62
And could you add a writtenAt?

[2014-03-04 16:55] kba commented on #60
fixed and released as of build 'Tue Mar  4 17:47:46 CET 2014'. Please re-download

[2014-03-04 16:55] #60 closed, assigned to kba

[2014-03-04 16:56] d0rg0ld commented on #60
thx

[2014-03-04 17:00] kba commented on #60
Correction, as of build 'Tue Mar  4 17:56:14 CET 2014'

[2014-03-04 17:04] edroege commented on #60
@d0rg0ld This was not in the owl file. Fixed it and will replace the owl file on github and redmine. Thanks for noticing!

[2014-03-04 17:24] chrmor opened #63 "DM2E Unofficial artifacts: validatedAtLevel, dm2eVersion, stability"
http://data.dm2e.eu/data/html/dataset/uber/dingler/20140304123936384

I see one triple like the following:

?:validatedAtLevel  ERROR (xsd:string)

is it an error?

[2014-03-04 17:26] kba commented on #63
No, it's the unofficial DM2E namespace which has found it's way into the ingestion tool. Will move it to either omnom: or dm2e:

[2014-03-04 17:33] kba commented on #63
I propose to replace them as such

[code]

The first two are about describing a dataset, so this is info that the publish service in omnom would generate. Otherwise we should check if prov contains equivalents.

owl:versionInfo is an annotationProperty that is rather vague in its definition so I think we could reuse that.

[2014-03-04 17:54] kba commented on #62
Is part of the validator /OWL version 1.1_Rev1.6

[2014-03-04 18:02] kba commented on #42
Fixed by #60

[2014-03-04 18:02] #42 closed, assigned to edroege

[2014-03-04 18:04] kba commented on #48
@d0rg0ld Please check this when ABO validation is finished and close if it's fixed.

[2014-03-04 18:26] kba commented on #59
As of buld 'Tue Mar  4 19:23:40 CET 2014', The validator will not only see if it can parse the date but also match it against the pattern

[code]

Invalid xsd:dateTimes will show up as an error. Maybe we should even make that a fatal error since it might be a problem for downstream consumers (such as Pundit or the OAI repo)

[2014-03-04 18:30] kba commented on #56
This was fixed by latest ingest, http://data.dm2e.eu/data/html/dataset/onb/codices/20140304184952678. See for example http://data.dm2e.eu/data/html/resourcemap/onb/codices/%2BZ103904402/20140304184952678, contains `pro:author` http://data.dm2e.eu/data/html/agent/onb/codices/%2BZ103904402/Unbekannt

[2014-03-04 18:30] #56 closed, assigned to nobody

[2014-03-04 18:50] kba commented on #44
The UNOFFICIAL namespace issue is largely fixed, for the remaining properties, see #63

[2014-03-04 18:50] #44 closed, assigned to nobody

[2014-03-04 18:58] kba commented on #32
edm:TimeSpans are now included in the resourceMap. For example http://data.dm2e.eu/data/rdf/resourcemap/onb/codices/%2BZ103904402/20140304184952678?output=ttl contains the referenced timespans, no need to dereference them in a second HTTP request.

Please reopen if this doesn't fix the issue for you.

[2014-03-04 18:58] #32 closed, assigned to nobody

[2014-03-04 18:59] kba commented on #28
There hasn't been any feedback to the contrary, so I assume `WARNING` is okay for missing strongly recommended properties for the data mappers.

If not, please re-open.

[2014-03-04 19:00] kba commented on #31
This is a WONTFIX for abo, so I close this for now.

[2014-03-04 19:00] #31 closed, assigned to nobody

[2014-03-04 19:01] kba commented on #25
Since no changes are planned for now, I'll close this.

[2014-03-04 19:01] #25 closed, assigned to nobody

[2014-03-04 19:03] kba commented on #23
This was fixed by @kthth and reingested, see http://data.dm2e.eu/data/html/resourcemap/mpiwg/harriot/MPIWG_KECMZ5BH/20140304151523204.

Since this cannot happen anymore (the validator cancels the ingestion in this case), I'll close this.

[2014-03-04 19:03] #23 closed, assigned to kthth

[2014-03-04 19:08] kba commented on #21
You can get to the facsimile (well a scaled down thumbnail version anyway) by following the `edm:object` of the aggregation.

For example:
http://data.dm2e.eu/data/html/resourcemap/mpiwg/harriot/MPIWG_01QU84RT/20140304151523204

`edm:object` links to http://digilib.mpiwg-berlin.mpg.de/digitallibrary/servlet/Scaler?dw=50&fn=/permanent/library/0VGM2B80/pageimg&pn=1

@kthth Why such a small version?

[2014-03-04 19:11] kba commented on #19
Pages in harriott do now have dc:format for all WebResources, e.g. http://data.dm2e.eu/data/rdf/resourcemap/mpiwg/harriot/MPIWG_01QU84RT_00705/20140304151523204?output=ttl

[2014-03-04 19:11] #19 closed, assigned to nobody

[2014-03-04 19:12] kba commented on #13
As of 1.1_Rev1.5 bibo:number is not mandatory anymore.

[2014-03-04 19:12] #13 closed, assigned to nobody

[2014-03-04 19:13] kba opened #64 "Model 1.1_Rev1.6"

[2014-03-04 19:13] kba commented on #64
please disregard. sry.

[2014-03-04 19:13] #64 closed, assigned to nobody

[2014-03-04 19:14] kba opened #65 "Review"

[2014-03-04 19:14] kba commented on #65
please disregard, sry

[2014-03-04 19:14] #65 closed, assigned to nobody

[2014-03-04 19:17] kba commented on #58
The weird thing is that the `edm:object` links to the an image but isn't described as such.

[2014-03-04 19:17] kba commented on #2
I think that was fixed by the latest ingest.

[2014-03-04 19:17] #2 closed, assigned to kthth

[2014-03-04 19:19] kba commented on #7
@OyvindLGjesdal : Yes, something along the lines of

[code]

Please get in touch when you have new data to validate/ingest.

[2014-03-04 23:11] kba opened #66 "Unresolvable places in Harriott"
In http://data.dm2e.eu/data/html/resourcemap/mpiwg/harriot/MPIWG_0HE26A22/20140304151523204
is a place (could also be a WebResource but from the context I guess it's a edm:Place) http://data.dm2e.eu/data/place/mpiwg/harriot/MPIWG_0HE26A22/XVsH21V_Petworth%2C+UK

I cannot dereference this, nor is it in the ResourceMap, so the data is either not there at all (i.e. forgotten to include it at mapping

[2014-03-04 23:12] kba commented on #66
In fact: Not just a trivial is-a statement but a skos:prefLabel is mandatory as well and I rely on that.

[2014-03-04 23:44] kba opened #67 "How to get from a ResourceMap to the VersionedDataset"
For the OAI repo, it would be helpful to get the date of the ingestion that created a specific versioned Dataset containing an Aggregation. Since the URIs for Aggregation and CHO in the ResourceMap are version-agnostic, this is impossible at the moment.

This could be implemented by tweaking the SPARQL for a ResourceMap further to include a reference from the Aggregation to the versioned Dataset t

[2014-03-05 08:16] ksdm2e commented on #28
There is no need to hurry.

[2014-03-05 09:02] d0rg0ld commented on #48
On Basis of Validator Build Date: Tue Mar  4 18:12:13 CET 2014 / model version  1.1_Rev1.5

ERRORS not fixed :

`<dc:subject rdf:resource="http://data.dm2e.eu/data/place/onb/authority_gnd/4043271-3"/>`
throws  [ERROR] INVALID_OBJECT_PROPERTY_RANGE   http://data.dm2e.eu/data/place/onb/authority_gnd/4043271-3

[ERROR] NON_REPEATABLE  http://onto.dm2e.eu/schemas/dm2e/publishedAt

[ERROR] SHOULD_BE_RE

[2014-03-05 09:15] edroege commented on #63
We also use owl:versionInfo for indicating the model number and revision in the owl file of the model. I guess you want to store the same information there during the ingestion, so I agree. I also think that it is a good idea to move validatedAtLevel and stability into the omnom namespace.

[2014-03-05 09:26] edroege commented on #62
Made dm2e:publishedAt and dm2e:printedAt repeatable in rev 1.6

@ksdm2e Will add dm2e:writtenAt. Please give me a definition (dm2e:scopeNote) and probably restrictions for the property. I set the range to edm:Place as for dm2e:printedAt.

[2014-03-05 09:29] kba commented on #48
What type is `http://data.dm2e.eu/data/place/onb/authority_gnd/4043271-3`? Obviously I missed an allowed object range but to correct it, I must know which rdf:type this has.

This is correct behavior for 1.1_Rev1.5. Fixed in 1.1_Rev1.6.

According to 1.1_Rev1.5, the range is edm:Place. Will be changed in 1.1_Rev1.6 according to #57 .

[2014-03-05 09:30] d0rg0ld commented on #48
http://data.dm2e.eu/data/ ----> place <---- /onb/authority_gnd/4043271-3 :-)

[2014-03-05 09:30] d0rg0ld commented on #48
thx!

[2014-03-05 09:31] kba commented on #48
Yes, but is it actually an edm:Place?

[2014-03-05 09:32] d0rg0ld commented on #48
yes, a sometimes even nice place :-)

[code]

[2014-03-05 09:41] edroege commented on #28
Looks good to me @kba !

[2014-03-05 09:47] chrmor commented on #21
A bigger image would be better I agree

[2014-03-05 10:05] kba commented on #48
[Some](http://www.quotez.net/german/thomas_bernhard.htm) beg to differ ;-)

Anyway, there was indeed a bug about edm:Place, I just fixed it and rebuilt the tool. Please re-download, fixed as of build 'Wed Mar  5 11:00:09 CET 2014'

[2014-03-05 10:14] kba commented on #57
Fixed in 1.1_Rev1.6 of the validator, as of build 'Wed Mar  5 11:10:49 CET 2014'

[2014-03-05 10:39] ksdm2e commented on #62
eeh, pffh:

Indicates the place where the CHO was written.

If you like, you can restrict it to CHO classes, or dc:format respectively, which are usually handmade, like letters, manuscripts asf.

[2014-03-05 11:05] JIwanowa commented on #61
thx! will be fixed into the next ingestion.

[2014-03-05 11:05] #61 closed, assigned to kba

[2014-03-05 11:09] edroege commented on #62
Thanks!

[2014-03-05 11:09] #62 closed, assigned to nobody

[2014-03-05 11:10] JIwanowa opened #68 "com.hp.hpl.jena.query.QueryParseException: Encountered"
Last ingestion: dm2e-ingest -c /data/INBOX/uber-dingler/julia-uber-dingler.properties
log: data/INBOX/uber-dingler/ingestion-uber-dingler-20140305114203921.log

ERROR
03/05 11:42:35: ===============================
03/05 11:42:35: Date: Wed Mar 05 11:42:35 CET 2014
03/05 11:42:35: File: /tmp/unzip_4683792936525352686/SubsetJournalRDF/ar107mi05.orig.xml
03/05 11:42:35: Output validated. Yay :)
03/0

[2014-03-05 11:43] kba commented on #68
Line 193 is not related to the input file.

[2014-03-05 12:20] kba commented on #68
The file in question contains

[code]

There should be neither newlines nor tabs in the URL. The validator could probably catch this, I just hadn't thought of that. In fact I'm surprised that Jena doesn't complain when parsing, only when creating a SPARQL Update from the serialized model.

[2014-03-05 12:26] kba commented on #68
You can probably pre-process the file and replace all Tabs because they should never be significant in XML. Then It should be enough to make sure to replace all non-URI characters with something innocuous like underscore.

@ksdm2e You have similar data. Did you have to deal with this issue, maybe you can help out @JIwanowa.

[2014-03-05 15:48] JIwanowa commented on #68
Thx!

[2014-03-05 15:48] #68 closed, assigned to nobody

[2014-03-05 22:33] kba opened #69 "Proposal for 1.1_Rev1.6: Strongly recommend setting a date associated for every CHO with displayLevel set to true"
For the search interface it is helpful to have a date for every CHO. Some currently have neither dcterms:created, dcterms:issued nor dcterms:temporal associated (e.g. http://data.dm2e.eu/data/html/resourcemap/gei/gei-digital/PPN618776001/20140301021526607).

Making this property strongly recommeded would mean that the validator would emit WARNING if a no date property is set. I am sure there are v

[2014-03-06 07:37] knepper commented on #69
This is a multivolume record with volumes that are issued at different times. The volumes have a dcterms:issued. The time difference in such cases might be 40 years or more if the volumes have seperate editions and it make limited sense to derive a time range for this record from the volumes.

However, +1

[2014-03-06 09:04] ksdm2e commented on #69
Nice try! But I can assure you that dataprovider know data their data. If there were a date value, it would be mapped. There is no need for a WARNING.

[2014-03-06 09:06] d0rg0ld commented on #69
Its a general question if and how data should be "inherited" to CHOs lower in the hierarchy. For example,  I see no need to store a date for each page CHO if a date valid for all pages can be found in an upperlevel CHO....

[2014-03-06 10:39] kba commented on #69
I should add that I only mean CHOs for Aggregations that have dm2e:displayLevel set to true^^xsd:boolean.

@d0rg0ld: True, though in the case I mentioned it's the other way around. Nonetheless, if I come across examples for that, I will follow the dcterms:isPartOf property for dates.

@knepper I understand, that makes sense then for the example. Maybe we should generate (infer) a TimeSpan for CHOs

[2014-03-06 11:34] knepper commented on #69
As I said: A TimeSpan could inferred or drived from the volumes. But it makes not too much sense if the volumes have several editions over 40 years or more.
In more common cases the edition is on the multivolume level and the multivolume record has a dcterms:issued.

However, in a time related search you will find the respective volumes, that's the main thing. They have dm2e:displayLevel also set

[2014-03-06 12:11] kba commented on #69
In summary: Since the relationships between containing and contained CHO are too diverse, a generally correct inference rule would be too complex. Hence, CHOs with displayLevel true but without a date won't show up in date-filtered searches and will be sorted last in date-sorted queries. It is assumed that data mappers omit dates for a valid reason and not e.g. because of an oversight or because t

[2014-03-06 12:48] kba opened #70 "Are there better human-readable prefLabels for subjects in gei-digital?"
The skos:Concepts referred to by CHOs in the gei-digital dataset have skos:prefLabels like
- lehrdegef
- leitdegef
- leitfudeg

Can these be resolved to more intuitive labels?

[2014-03-06 13:17] #47 closed, assigned to JIwanowa

[2014-03-06 13:23] knepper commented on #70
This relates only to a subset of skos:Concepts of GEI. Obviously there is a local classisfication behind that has a freestyle representation in the mods data. This needs work on the original data. We should keep this in mind (not close the ticket) and discuss it on the next meeting with GEI.

[2014-03-06 14:41] OyvindLGjesdal opened #71 "Empty rdf resource and about attributes"
http://example.com/relative/:
    [FATAL]  is a relative URL used with property http://www.w3.org/1999/02/22-rdf-syntax-ns#type
    [FATAL]  is a relative URL used with property http://www.europeana.eu/schemas/edm/rights
    [FATAL]  is a relative URL used with property http://purl.org/dc/elements/1.1/format

[2014-03-06 14:43] OyvindLGjesdal commented on #71
Corrected by adding the missing URLs to the TEI source files. Also added warning on transform if function fails to retrieve URL.

[2014-03-06 14:43] #71 closed, assigned to OyvindLGjesdal

[2014-03-06 16:37] d0rg0ld commented on #69
@kba : i would leave the "lower inherits date from upper" rule, I think this would be on the safe side - In the worst case it will be a broad timespan, but better than nothing

[2014-03-06 17:17] kthth commented on #20
is fixed, you find good examples around page http://data.dm2e.eu/data/html/resourcemap/mpiwg/harriot/MPIWG_5PYT50NY_00075/20140306175430512
Most verso pages are blank.

[2014-03-06 17:17] #20 closed, assigned to kthth

[2014-03-06 17:20] kthth commented on #21
these images are not or own and can only be shown on or pages (even a thumbnail is not really legal), that's why only shownAt.

[2014-03-06 17:28] kthth commented on #58
fixed

[2014-03-06 17:28] #58 closed, assigned to nobody

[2014-03-06 17:32] kthth commented on #59
@kba
cannot find

[code]

in rara

[2014-03-06 17:32] kba commented on #21
Then you shouldn't set `edm:object` because it will be used for generating a thumbnail if it is set (by us) but also for different purposes once the data is in Europeana Portal. See their Image Policy (http://pro.europeana.eu/documents/900548/960640/Europeana+Portal+Image+Policy).

If this is a serious legal issue, I'd say leave it out.

[2014-03-06 18:18] kba commented on #59
@kthth Don't know if it was in rara. As these are FATAL validation errors as of https://github.com/DM2E/dm2e-ontologies/commit/384f069545152da9d44967681da11f32773d719c it doesn't matter who ingested it in the first place. They will find out when validating.

[2014-03-06 18:35] #59 closed, assigned to knepper

[2014-03-06 19:02] kthth commented on #66
fixed by not replacing spaces with + but with underscore

[2014-03-06 19:02] #66 closed, assigned to kthth

[2014-03-06 19:03] kba commented on #66
And cannot happen anymore because the validator throws FATAL errors for such URLs: https://github.com/DM2E/dm2e-ontologies/commit/633f3199d4309a42d080404b61afb766266675d9

[2014-03-06 19:06] kba commented on #7
Fixed by newest ingest: http://data.dm2e.eu/data/html/resourcemap/uib/wab/Ms-114/20140306181642967 has dc:type dm2e:Manuscript

[2014-03-06 19:06] #7 closed, assigned to OyvindLGjesdal

[2014-03-06 20:47] kba commented on #33
And it was.

[2014-03-06 20:47] #33 closed, assigned to nobody

[2014-03-06 20:48] #8 closed, assigned to OyvindLGjesdal

[2014-03-06 20:55] kba commented on #12
For now, querying for edm:object/dm2e:hasAnnotatableVersion/edm:isShownBy with appropriate dc:format works well enough, for the non-matches provide default per-dc:type thumbnail.

[2014-03-06 20:55] #12 closed, assigned to nobody

[2014-03-06 21:00] kba commented on #53
Shall I put a rule into the validator that NOTICEs Manuscripts, Books, Articles without Pages?

[2014-03-06 21:02] kba commented on #63
OK, but let's do this later so data currently ingested remains valid.

[2014-03-06 21:04] kba commented on #48
Since 1.1_Rev1.5 seems pretty stable now and the issues here are fixed, I'll close this. Please open a new issue for any new problems you might encounter.

[2014-03-06 21:05] kba commented on #28
@ksdm2e Why can't this be closed?

[2014-03-06 21:12] kba opened #72 "Language Tags: Uses 'ger' instead of 'de'"
According to p.16 of the specs, 2-letter acronym is preferred when available. Jena also warns about that. The validator probably should, too.

[2014-03-06 21:13] kba opened #73 "dc:subject must be a resource"
`dc:subject` must point to something of rdf:type skos:Concept, edm:Agent, edm:Place or edm:TimeSpan, not a Literal.

[2014-03-06 21:16] kba opened #74 "[ERROR] MISSING_REQUIRED_PROPERTY http://onto.dm2e.eu/schemas/dm2e/displayLevel"

[2014-03-06 21:28] kba opened #75 "{W131} String not in Unicode Normal Form C: "XV. Tsuṅ-hau.""
Validating DTA  yields lots of these warnings. I'm no expert at Unicode but I remember that this has to do with combining characters. I'm not even sure if that is a problem for our triplestore but maybe @knepper can say something about that, as he had the same issue earlier.

[2014-03-06 21:44] kba opened #76 "Caret in URL in platen_oedipus"
The mapping `TEI2DM2E_xslt_20140227.zip` on this TEI http://www.deutschestextarchiv.de/book/download_xml/platen_oedipus_1829
generates a WebResource with URL `http://media.dwds.de/dta/images/platen_oedipus_1829/platen_oedipus_1829_^_1600px.jpg` which leads to the dataset not being ingested.

`^` is not a URL-safe character and must be URL-encoded. Since this is an external link, we either need to

[2014-03-06 22:10] kba opened #77 "URL-encoded slash in WebResource URL"
E.g. `http://data.dm2e.eu/data/concept/bbaw/dta/HERR%2F` in spener_piadesideria_1676.TEI-P5.xml

Happens in
- arnold_cyprian_1700.TEI-P5.xml
- arnold_ketzerhistorie02_1700.TEI-P5.xml
- gressel_grabgedichte_1716.TEI-P5.xml
- naude_messkunst_1706.TEI-P5.xml
- spener_bedencken03_1702.TEI-P5.xml

and many more.

[2014-03-07 09:24] ksdm2e commented on #72
Could you give an exmaple. Might be ours.

[2014-03-07 09:29] ksdm2e commented on #77
Thanks for recognizing this.

This is no problem: the concepts in bbaw/dta are candidates for processing with SILK and not reliable concepts. They can contain what-ever, random-like strings.

However, I can replace all reserved characters (for URL) in the next version of the script.

[2014-03-07 09:30] ksdm2e commented on #73
Give always a sample, please!

[2014-03-07 09:36] ksdm2e commented on #75
could you give an example?

[2014-03-07 09:47] ksdm2e commented on #76
It's in the data. Just ignore it.

I give that as feedback to the provider.

[2014-03-07 10:32] ksdm2e commented on #75
I have an example: the above mentioned line is from berg-ostasien04, e.g.

http://www.deutschestextarchiv.de/book/view/berg_ostasien04_1873/?hl=Tsun%CC%87-hau&p=55

Here is an explanation:

https://groups.google.com/forum/#!topic/topbraid-users/lxTn8NwiSaA

[2014-03-07 10:41] kba commented on #72
Just run the validator.

[2014-03-07 10:46] ksdm2e commented on #72
That's useless: it might be the case, that you get different results due to different params or missing or old translation files.

Thatswhy we all need an example.

[2014-03-07 10:51] kba commented on #72
Ah, I see. Now I set DEF_LANGUAGE that fixed it I think

[2014-03-07 10:51] #72 closed, assigned to ksdm2e

[2014-03-07 10:52] kba commented on #76
I cannot ignore it, this is a FATAL error. Ingestion will break.

[2014-03-07 11:02] kba commented on #73
Fixed by EDM_RICH = true? can't find it now. These are the properties I use, is this correct?

[code]

[2014-03-07 11:15] ksdm2e commented on #76
That's right. If the ingestion breaks for this file, then it is an appropriate behaviour.

My suggestion is to ignore this file. We have no influence on contents and its only one (or some hundred) of 430000.

[2014-03-07 11:18] ksdm2e commented on #73
yes, looks good. Thanks

[2014-03-07 11:20] #73 closed, assigned to ksdm2e

[2014-03-07 11:21] kba opened #78 "[ERROR] INVALID_DATA_PROPERTY_RANGE http://purl.org/ontology/bibo/number"
bibo:number should be xsd:unsignedInt or untyped, not xsd:int.

[2014-03-07 11:25] d0rg0ld opened #79 "edm: isNextInSequence disappeared from edm:ProvidedCHO in 1.1 Rev1.5"
I am updating my mapping documentation and found edm: isNextInSequence to be missing in the edm:ProvidedCHO description. I guess this was not intended ...

[2014-03-07 12:17] edroege commented on #79
No, that was of course not intended. Thanks for noticing. Reintegrated in rev 1.6

[2014-03-07 12:17] #79 closed, assigned to edroege

[2014-03-07 12:31] ksdm2e commented on #78
Yes. it is valid accorindg to Rev1.4.

[2014-03-07 12:33] kba commented on #78
Yes. Can you make it valid with Rev1.5 and Rev1.6?

[2014-03-07 12:34] ksdm2e commented on #78
And my script will be valid against rev1.6 again, when holdingInstitution asf is introduced.

The unsignedInt is fixed already. I am waiting for the specification (or did I miss the release?).

[2014-03-07 12:35] kba commented on #78
holdingInstitution should be in Rev1.6-DRAFT already.

But good point about the specs. @edroege @JIwanowa Can you release Rev1.6 now?

[2014-03-07 13:11] knepper commented on #75
Short explanation is: In UTF-8 a common letter with diacritic can be coded in two ways. 1. A composed form which a single code for the whole thing, 2. A decomposed form wich is the pure letter code without diacritic followed by another character code for each diacritic.
The second form is more flexible and the first form is limited to a (huge) number of letter+diacritic combination. And both are v

[2014-03-07 13:14] #69 closed, assigned to nobody

[2014-03-07 13:24] kba commented on #75
Interesting, thank you for the explanation.

@ksdm2e Can you normalize the literals in your script? FunctX has a function for just this: http://www.xsltfunctions.com/xsl/fn_normalize-unicode.html

[2014-03-07 13:25] ksdm2e commented on #75
thanks @knepper . The reason is clear meanwhile.

The question is, whether it should be handled or ignored? What did you do?

I would ignore it in this first run, because it's only a warning for an old known problem (combining vs. one character). Modern search and indexing machines should handle this properly meanwhile. And the dataprovider decided for the combined solution and uses it also in its

[2014-03-07 13:32] kba commented on #75
I guess our search engine's indexing component can handle both forms, probably even prefers NCD cause it's easier to index diacritics if the components are known.

But I'd prioritize that the output can be displayed in common browsers, so +1 for handling this.

[2014-03-07 13:32] ksdm2e commented on #75
Finallly: It's a good question from the second editor's point of view, whether it is allowed to change first editor's decisions.

@kba Thanks. It's also in http://www.w3.org/TR/xpath-functions/#func-normalize-unicode

I'll think about it ...

[2014-03-07 13:34] ksdm2e commented on #75
If everybody agrees to normalize such strings, it might be a candidate for a recommendation.

[2014-03-07 13:38] knepper commented on #75
I always do an NFC normalization prior to further processing (might be useful to remove cd 8f separating cc 88 (diaeresis) if you don't want a special diaeresis treatment):
1. not to get trouble with searching, e.g. solr doesn't handle this if the forms a different and browser input is NFC
2. not to get trouble with display in browser
In this case it could fix the display issue I mentioned on the

[2014-03-07 13:46] kba commented on #75
We could probably do this as part of the ingestion but that would intrude into the data provider's editing decisions and possibly raise hard-to-debug issues if there are problems.

If it were part of the specs that we only accept NFC normalized Unicode a check could be integrated into the validator to at least notify data mappers that there might be a problem.

[2014-03-07 13:55] ksdm2e commented on #75
Thanks @knepper . You gave me the right point :D

I think we shouldn't "fix the display issue" because it is the dataprovider's choice. We only ship bytes to the database. I wouldn't make it a recommendation, but it is welcome in this case to be warned (because it might cause unexpected results).

[2014-03-07 14:01] ksdm2e commented on #78
How can I check against Rev1.6? help message says only

[code]

I hope I have the latest version ...

[2014-03-07 14:13] chrmor opened #80 "hasPart or isPartOf ?"
In the WAB dataset

http://data.dm2e.eu/data/html/resourcemap/uib/wab/Ts-310/20140306181642967

dcterms:hasPart relations are used

in other dataset the inverse (dcterms:isPartOf).

The meaning is the same but making data homogeneous would help consuming it.

[2014-03-07 14:15] d0rg0ld commented on #80
@chrmor @OyvindLGjesdal We actually decided a while ago that we will only use isPartof -> From bottom to top, not the other way round. this is mentioned in the mapping recommendations

[2014-03-07 14:16] chrmor opened #81 "An additional annotatable version fro images"
Would it be possible to have two annotatableversions, one for the image and one for the text?
The has been done in other datasets.
The image is already linked via the edm:object but I would need to have it linked via an additional asAnnotatableVersionOf and with correct dc:format "image/jpg"

Would it be possible asap? I'd like to show this dataset at the review.

[2014-03-07 14:17] ksdm2e commented on #77
fyi:

<pre>
   Example 2
   The URIs
    http://www.w3.org/albert/bertram/marie-claude
   and
   http://www.w3.org/albert/bertram%2Fmarie-claude
   are NOT identical, as in the second case the encoded slash does not have hierarchical significance..
</pre>

From http://www.w3.org/Addressing/URL/4_URI_Recommentations.html

I understand it in that way, that an encoded slash is ok. Just a comment:

[2014-03-07 14:45] kba commented on #77
Yes, it is not a forbidden character per se, it's just that it breaks Pubby and is confusing.

[2014-03-07 14:47] kba commented on #78
You're way behind, download again. Always download the validator again before you validate, I fix things all the time. There's a has been a build time in the help output for the last 20 versions or so.

[2014-03-07 14:48] kba commented on #80
Probably should go into the model that dcterms:hasPart is discouraged or even forbidden for CHOs. Then I can add that to the validator.

[2014-03-07 14:50] ksdm2e commented on #77
oh, pubby? really? my friend ...

I changed it in the recent version already: concepts with reserved characters should be omitted.

[2014-03-07 14:51] ksdm2e commented on #78
Why should i update, when it's not finished.

did you change the download url?

[2014-03-07 14:52] OyvindLGjesdal commented on #80
New files with dcterms:isPartOf is ready to be ingested.

[2014-03-07 14:53] kba commented on #77
Can't you just replace the reserved characters with something like underscore? You don't have that problem for any external URIs, just for those that you create yourself in the 'http://data.dm2e.eu/data/' namespace.

[2014-03-07 14:54] kba commented on #78
No, the download URI has always been the same.

What do you mean "not finished"? We're on a tight schedule, so please just update the validator regularly.

[2014-03-07 14:58] OyvindLGjesdal commented on #81
Do you want all images that a bemerkung is part of shown as hasAnnotatableVersion  dc:format "image/jpeg" or just the first like in edm:object?

[2014-03-07 14:58] ksdm2e commented on #78
Not finished, means not finished. 1.6 is stll a DRAFT.

Ok: tested some files

 [ERROR]  has unknown property http://onto.dm2e.eu/schemas/dm2e/holdingInstitution

the rest seems ok.

[2014-03-07 15:01] ksdm2e commented on #77
It's ok. These concepts are only suggestions.

Thanks! afk for now!

[2014-03-07 15:02] kba commented on #78
Yeah, the OWL file needs to be fixed. You're right. But once thatr's done it will validate. @edroege

[2014-03-07 16:01] OyvindLGjesdal commented on #81
I've added the same image as edm:object to annotatable. More for later if needed.

[2014-03-07 16:01] #81 closed, assigned to OyvindLGjesdal

[2014-03-07 22:09] kba commented on #77
Still happens erbkam_tagebuch02_1843.TEI-P5.xml

[2014-03-09 20:25] chrmor opened #82 "Missing rdf:type"
http://data.dm2e.eu/data/html/resourcemap/mpiwg/rara/MPIWG_S1D2M8BE_00352/20140303175001587

Is missing the
rdf:type edm:ProvidedCHO

[2014-03-10 09:21] edroege commented on #53
@kba good idea

[2014-03-10 09:32] edroege commented on #78
Will release the 1.6 model specification and owl file today

[2014-03-10 11:08] kba commented on #78
Should be up-to-date now, please re-download and re-validate and close if fixed.

[2014-03-10 11:35] #78 closed, assigned to nobody

[2014-03-10 13:30] ksdm2e opened #83 "Validator should detect dead links in the data"
I get the following error-message

[ERROR]  has object property with incopatible resource http://data.dm2e.eu/data/concept/bbaw/dta/Lyrik%3B%20Prosa. Allowed rdf:type:

a. It seems, the message isn't reported due to the URI but encoded characters in the URI.
b. The message is incomplete.
c. a typo "incopatible" -> incompatible

[2014-03-10 13:40] kba commented on #83
What rdf:type has http://data.dm2e.eu/data/concept/bbaw/dta/Lyrik%3B%20Prosa. Could you post the RDF for it?

[2014-03-10 13:58] ksdm2e commented on #83
It's different: It is an error, but the reason is another.

The URI points to nothing. There is no corresponding class http://data.dm2e.eu/data/concept/bbaw/dta/Lyrik%3B%20Prosa, because the concepts with reserved characters are omitted.

Thatswhy it has no type. (I corrected that already in my script; no more validation errors.)

[2014-03-10 14:19] kba commented on #83
Okay, so what's wrong with the error message? Something that doesn't exist doesn't fit the range of something that is a skos:Concept.

[2014-03-10 14:23] ksdm2e commented on #83
I would simply say: The URI has no corresponding resource.

The "no type" is just a secondary consequence of the non-existence of the resource.

[2014-03-10 14:27] kba commented on #83
OK, will do at some point but since this is correct behavior, I just fixed the typos and implement the new behavior at some later time.

[2014-03-10 17:13] chrmor opened #84 "Next and previous page inverted?"
Is it possible that previous and next pages are reversed?
Please check

[2014-03-10 17:15] d0rg0ld commented on #84
Hi, isNextInSequence _always_ points to the _previous_ page

Page2URI edm:isNextInSequence Page1URI

[2014-03-10 19:14] chrmor opened #85 "Why are some resources so slow?"
this one for example:

http://data.dm2e.eu/data/html/agent/ub-ffm/authority_gnd/118523708

or this one:

http://data.dm2e.eu/data/html/timespan/ub-ffm/1300-01-01T00-00-00_1399-12-31T23-59-59

please check.

[2014-03-10 21:42] kba commented on #85
http://data.dm2e.eu/data/html/agent/ub-ffm/authority_gnd/118523708 :  96ms

http://data.dm2e.eu/data/html/timespan/ub-ffm/1300-01-01T00-00-00_1399-12-31T23-59-59 : 154 ms

[2014-03-10 21:46] #85 closed, assigned to nobody

[2014-03-11 01:14] kba opened #86 "Proposal for 1.2_Rev1.0: Enforce RFC 3986 compliant URIs"
Currently, the validator blacklists some characters in URLs. Ingestion problems have shown though that this is intrinsically flawed and leads to subtle errors where any part of the pipeline (validator, ingestion tool, triplestore, LD API, data consumers) can choke on malformed URIs.

Hence I propose to enforce the use of [RFC 3986](http://tools.ietf.org/html/rfc3986) compliant URIs by generating F

[2014-03-11 07:58] OyvindLGjesdal commented on #80
Ingested on friday.

[2014-03-11 07:58] #80 closed, assigned to nobody

[2014-03-11 07:58] OyvindLGjesdal commented on #84
Corrected. Will close when ingested.

[2014-03-11 08:12] ksdm2e commented on #86
ok. Because it is already a FATAL error.

Please provide also a consistent transaction and rollback strategy on triple, class and item level, at least in reporting.

[2014-03-11 08:25] ksdm2e commented on #86
Please provide an example where Form-C UTF-8 is relevant in URLs.

[2014-03-11 09:22] kba commented on #86
No, just a few blacklisted character lead to FATAL errors.

Please explain what you mean and how it relates to this issue.

Diacritics.

[2014-03-11 09:24] kba commented on #80
Current version is http://data.dm2e.eu/data/html/dataset/uib/wab/20140311101616905.

[2014-03-11 09:27] kba commented on #84
Fixed in http://data.dm2e.eu/data/html/dataset/uib/wab/20140311101616905

[2014-03-11 09:27] #84 closed, assigned to nobody

[2014-03-12 08:57] edroege commented on #86
Currently, allowed characters are part of the mapping recommendations but we could also add a few words about allowed characters in the model specification. Apart from that, I think that this is a good suggestion.

[2014-03-12 09:20] ksdm2e commented on #86
The mapping recommendations are the wrong place. It is a recommendation for the system-/db-/triplesore-administrators.

It is obvious that it's possible to break "any part of the pipeline (validator, ingestion tool, triplestore, LD API, data consumers)" by normal strings. Dataproviders do not know about such things and usually shouldn't care about id's in a target system - which are in our case UR

[2014-03-12 14:34] kba commented on #86
URI is defined by RFC 3986. Everything that doesn't fit the first set of restrictions I proposed is not a URI.

The restriction on URL-encoded slashes is just a sane thing to do because it can cause lots of problems. Sure, we can make Pubby work with them (and we will) but I still say they are problematic, just google for "URL-encoded slash server". If they are legacy URLs: fine: We'll have to liv

[2014-03-12 15:49] kba commented on #28
@ksdm2e Why can't this be closed?

[2014-03-12 16:04] kba commented on #28
If you have new points, please re-open.

[2014-03-13 08:34] ksdm2e commented on #28
Wait ...

[2014-03-13 08:44] kba commented on #28
Please stop re-opening this if you have no new arguments. This is annoying.

[2014-03-13 08:44] #28 closed, assigned to nobody

[2014-03-13 08:48] ksdm2e commented on #86
The above metioned proposal forces people (more than one) to implement workarounds for a problem, that they don't have. (btw: There is nothing wrong with encoded characters in URIs.)

But you can install one (1!) service at a certain point of your toolchain that makes proposed URIs appropriate to specific interpretations and implementations of uri-parsers for all dataproviders.

[2014-03-13 08:56] kba commented on #86
They might not have but data consumers will. Why deliberately cause problems?

Yes there is. While not illegal, some will cause problems for data consumers. Why do you need Tabs, Newlines and Carriage Returns in you URIs? Why can't you just replace the slash with something less problematic? I repeat from my proposal: These restrictions on url-encoded characters are only about URIs in our namespace

[2014-03-13 09:46] ksdm2e commented on #86
If the data consumer knows, that he has problems due to his tools, then he has the responsibility to develop solutions for himself. He knows it best. Defensive programming was not invented yesterday.

I am happy, that we agree now, that the URIs are correct ("not illegal").

The URIs are not an essential part of the dataproviders' metadata. I see no reason why it should not be possible to change t

[2014-03-26 13:07] d0rg0ld commented on #75
Hi there, I will include the NFC normalization inthe recommendations!

[2014-04-01 13:18] edroege opened #87 "Proposal: Check if if resource has rdf:type"
The validator should check if individuals (like http://data.dm2e.eu/data/item/mpiwg/harriot/MPIWG_0HE26A22_00108  ) have an rdf:type (like e.g. http://www.europeana.eu/schemas/edm/ProvidedCHO ).

This should be checked for all classes: CHO and Aggregation but also for contextual classes like Agents, Places, Timespans etc.

If no class is indicated, give a warning.

[2014-04-01 13:51] ksdm2e commented on #87
how is it possible to have no rdf:type? Could you give an example?

[2014-04-01 14:44] kba commented on #87
[code]

implies that
- `http://agg1` is an `ore:Aggregation`
- `http://cho1` is an `edm:ProvidedCHO`

without making it explicit.  What @edroege proposes means that the graph should contain those statements:

[code]

Many providers provide data such as:

[code]

without asserting anything about `http://webresource` or omitting the fact that it is an `edm:WebResource`.

[2014-04-01 15:35] edroege commented on #87
@kba: Thanks for clarifying!

I think it has to be explicit. In case of Web resources, Aggregations and CHOs we could get this information afterwards because shownBy has only a web resource as a range etc. But in cases where the range is broader, like edm:Agent (with subclasses foaf:Person and foaf:Organization), we cannot get the information if the class edm:Agent, foaf:Person or foaf:Organizatio

[2014-04-01 15:38] d0rg0ld commented on #87
@ksdm2e

[code]

Valid RDF -> You have no idea what type "http://en.wikipedia.org/wiki/Oxford" has

[2014-04-01 16:26] ksdm2e commented on #87
Unfortunately, I don't get it. It seems to me to be syntactical issue. When I look at the turtle representation, rdf/xml or even the html-representation of the above mentioned sample, there is always a clear declaration of the class, e.g.:

[code]

@d0rg0ld @edroege Where do you find such "orphaned", untyped triples?

[2014-04-01 16:37] kba commented on #87
@ksdm2e
I don't think that this issue is pertinent to DTA data, `http://data.dm2e.eu/data/item/bbaw/dta/16157` is indeed not relevant for this issue. I'll change the URL to a fitting example. You are using the variant of RDF/XML that enforces an `rdf:type` statement by syntax. You might be susceptible to referring to things without asserting anything about them, though.

One place I do notice this

[2014-04-01 16:39] d0rg0ld commented on #87
@kba yeah it's because they use the `xml <rdf:Description rdf:about=`way of representing rdf/xml

[2014-04-01 16:41] kba commented on #87
@d0rg0ld Actually, MPIWG delivers N-TRIPLE but the pitfalls are the same.

[2014-04-01 16:42] d0rg0ld commented on #87
@kba ok I was referring to an old sample I got months ago ...

[2014-04-02 13:44] kba opened #88 "Brackets in URIs break ingestion"
Dingler currently contains pages identified as `http://data.dm2e.eu/data/item/uber/dingler/page_pj238_pb[II]` The brackets must be url-encoded, replaced or removed.

related to #86.  Validator throws a FATAL on such data.

[2014-04-07 13:34] edroege commented on #87
@ksdm2e I just took some example URIs to make my point clearer. Your data is fine - sorry if you have thought that there is something wrong. I was suggesting to add a warning or something to the validator, not to correct ingestions.

We will make it clearer in the next revision of the model specification that the mappings should contain classes. Can the validator check during the ingestion if e.g.

[2014-04-07 14:36] kba commented on #87
I will implement the wanted behavior in the validator, check that every object in '?s edm:aggregatedCHO ?object' triple is an (has rdf:type) edm:ProvidedCHO and every object in triple with a WebResource-related predicate (edm:hasView, edm:shownAt, edm:shownBy ...) is a (has rdf:type) edm:WebResource. Will notify once deployed.

[2014-04-07 21:23] kba commented on #87
OK, the validator will now emit a WARNING for every subject in a file that has no 'rdf:type' statements. Deployed since build 'Mon Apr  7 23:12:14 CEST 2014', please [re-download](data.dm2e.eu/data/static/dm2e-validate.jar).

[2014-04-11 09:53] kba commented on #88
Problem solved by uber.

[2014-04-11 09:53] #88 closed, assigned to nobody

[2014-04-11 10:00] kba commented on #86
According to call on wednesday and as of 'Fri Apr 11 11:49:45 CEST 2014', validator will enforce the first part of the proposal (Non-RFC-3986-compliant URIs will result in FATAL) and emit WARNINGS for the second part of the proposal (URL-encoded one of `/`, `\n`, `\t`, `<`, `>`).

[2014-04-11 10:00] #86 closed, assigned to nobody

[2014-04-23 14:18] kba opened #89 "Change CIDOC-CRM Namespace"
In EDM: http://www.cidoc-crm.org/rdfs/cidoc-crm#P80_end_is_qualified_by
In DM2E: http://www.cidoc-crm.org/cidoc-crm/P80F.end_is_qualified_by

We should change our CIDOC-CRM namespace to fit the one by EDM (which is resolvable), although I find our version cleaner. Nonetheless, to simplify the mapping to EDM, this should be changed in the next DM2E model version.

[2014-05-05 10:31] kba opened #90 "edm:TimeSpan vs. edm:timeSpan (non-capitalized)"
In Rara, timespans are typed as `edm:timeSpan` but should be typed `edm:TimeSpan` with a capital `T` and a capital `S`

[2014-05-05 12:42] edroege commented on #90
To be precise, it should be `edm:TimeSpan` with capital `T` and `S` :)

[2014-05-06 15:42] edroege opened #91 "Fewer Web resources than CHOs in ONB Abo"
The total amount of edm:WebResource in ONB abo is 39717 whereas the amount of edm:Provided CHO is 44425 (ingestion 20140306154239247). This is strange because every CHO should a least have one Web resource.

[2014-05-06 17:56] d0rg0ld commented on #91
We provide metadata about 39717 books of which some are part of multivolume works. Therefore there is one ProvidedCHO for each physical book and one WebResource pointing to the respective digitized item. ProvidedCHOs that represent volumes of a multivolume work point to an upper level ProvidedCHO representing that multivolume title. Lacking a digitised representation for these upper level objects,

[2014-05-07 09:44] kba opened #92 "Enforce language tags for longer, textual literal statements"
Europeana portal strongly recommends language tags for fields like
- dc:title
- dc:description
- dcterms:alternative
- ...

The Validator should probably emit warnings when this is not the case.

[2014-05-13 14:34] kba commented on #76
Data Provider fixed this upstream IIRC -- @ksdm2e Can we close this?

[2014-05-14 07:50] #76 closed, assigned to ksdm2e

[2014-05-14 10:55] JIwanowa opened #93 "DM2E_to_EDM_mapping"
Hi all,

I've set up a milestone for the first test ingestion to Europeana. Please use the DM2E_to_EDM label for issues related to the mapping from DM2E to EDM!

[2014-05-14 11:08] #93 closed, assigned to Dommii

[2014-05-14 14:59] kba opened #94 "Are there cases for skos:Concepts linked by owl:sameAs to non-GND, non-VIAF resources?"
The current DM2E->EDM algorithm directly links to contextual resources that reference GND or VIAF URIs via `owl:sameAs`. If a `skos:Concept` has `owl:sameAs` statements that point to neither GND nor VIAF, we need to change the `owl:sameAs` to `skos:exactMatch` to be compatible with Europeana's usage of SKOS.

This is implemented but I could not find any data to test. If any data provider has data

[2014-05-15 12:47] kba opened #95 "skos:prefLabel must only be used once per resource"
http://data.dm2e.eu/data/html/concept/mpiwg/authority_lcsh/sh2008107595 has multiple `skos:prefLabel` statements. Please choose one to be the `skos:prefLabel` and use `skos:altLabel` for the others.

[2014-05-15 16:12] kba opened #96 "DM2E Agent has no skos:prefLabel"
In UIB/WAB, e.g. http://data.dm2e.eu/data/html/resourcemap/uib/wab/Ms-114/20140311101616905, the `edm:provider` references `http://data.dm2e.eu/data/agent/DM2E` which has no skos:prefLabel.

[2014-05-15 16:14] kba opened #97 "edm:type must be "TEXT" (capitalized)"
E.g. http://data.dm2e.eu/data/html/resourcemap/uib/wab/Ms-114/20140311101616905:

CHJO has `edm:type "text"`. but should be `edm:type "TEXT"`

[2014-05-15 22:43] kba commented on #94
Here's one: http://data.dm2e.eu/data/html/concept/mpiwg/authority_lcsh/sh2008107595 in http://data.dm2e.eu/data/item/mpiwg/rara/MPIWG_S9DE5TWC

[2014-05-15 22:48] kba opened #98 "Links to LCSH should point to HTML serialization"
In MPIWG Rara, `skos:Concepts` are mapped to LCSH using `owl:sameAs`. They look like this

`http://id.loc.gov/authorities/subjects/sh2008107595.html`

However, this hard-codes the HTML serialization in the URL.

If it pointed to

`http://id.loc.gov/authorities/subjects/sh2008107595`

data consumers could fetch RDF using Content-Negotiation.

[2014-05-22 12:09] JIwanowa opened #99 "Europeana can't handle datatypes"
rdf:datatype not allowed in dcterms:extent & rdf:datatype not allowed in dc:description

[2014-05-22 12:15] JIwanowa opened #100 "Wrong order of the properties in ore:Aggregation"
The order of the properties in ore:Aggregation seems to be wrong. The right one here isn't an alphabetical like in edm:ProvidedCHO but this:
1. edm:aggregatedCHO
2. edm:dataProvider
3. edm:hasView
4. edm:isShownAt
5. edm:object
6. edm:preview
7. edm:provider
8. dc:rights
9. edm:rights
(defined in the ORE.xsd within the EDM.xsd)

[2014-05-26 08:31] kba commented on #100
For reference, the section mentioned by @JIwanowa reads

[code]

(https://github.com/europeana/corelib/blob/master/corelib-solr-definitions/src/main/resources/eu/ORE.xsd)

Hence, we will only emit statements about an Aggregation with exactly those properties in exactly this order (repetitions are okay, except for `edm:provider` and `edm:aggregatedCHO`). Since there were no errors about this so far

[2014-05-26 08:35] kba commented on #99
For now, the best option is to not emit `rdf:datatypes` at all, sad though it is to impoverish the data.

I'll try to make that configurable so it can be turned off once Europeana can handle `rdf:datatype`.

[2014-05-26 08:55] kba opened #101 "Enforce only one skos:prefLabel per resource"
The validator should emit ERRORs for `skos:prefLabel` being used multiple times per resource and language.

[2014-05-26 12:40] kba commented on #100
leaving this open until tested.

[2014-05-26 13:59] kba commented on #95
Actually, this is a more common problem than initially thought.

The mechanics of the mapping make it very hard for data mappers to enforce the one-and-only-one `skos:prefLabel` rule. Making mappers/providers aware of this during validation (see #101) is only one step towards solution.

Until we find a way to fix this as far up-stream as possible, the DM2E->EDM transformation will take care of it.

[2014-05-27 08:18] JIwanowa opened #102 "edm:isDerivativeOf no longer for edm:WebResource"
The property edm:isDerivativeOf was part of the EDM mapping guidelines v1.0.1 from 2012. Since version v2.0. the edm:isDerivativeOf belongs only to the edm:ProvidedCHO. We will check our model against the last EDM mapping guidelines which was published last week.

[2014-05-28 10:55] kba opened #103 "orphaned timespans for contextual classes"
"es gibt jetzt scheinbar "orphan" timespans, weil alle birth/death dates, die via gnd_personen mitkommen, im file stehen, obwohl für gnd keine context klassen mehr erzeugt werden"

[2014-05-28 10:56] kba opened #104 "skip pages from dm2e-edm conversion in the script"
currently only SPARQL, skip them during conversion as well.

[2014-05-28 11:28] kba opened #105 "edm:hasView is output in addition to edm:isShownAt"
Might be a bug in the super-property logic in Dm2e2Edm

[2014-05-28 14:00] d0rg0ld opened #106 "The order of properties in EDM SKOS.xsd"
does not follow the order principle of ProvidedCHO (prefix+localname) nor the one from ore:Aggregation (localname+prefix)

[code]

Will cause validation errors one day!

[2014-06-02 14:37] kba commented on #105
The problem here is that the uber/dingler data contain patterns like

[code]

with `?uri` being identical for both statements.

Now, the DM2E model defines `dm2e:hasAnnotatableVersionAt` as

[code]

Hence, the DM2E-EDM converter notices that `dm2e:hasAnnotatableVersionAt` is not part of EDM but `edm:hasView` is and will therefore output the pattern

[code]

Unless the DM2E model skips subclassing

[2014-06-02 14:42] #104 closed, assigned to kba

[2014-06-02 14:48] #106 closed, assigned to nobody

[2014-06-02 14:49] kba commented on #100
This is was fixed by https://github.com/DM2E/dm2e-ontologies/commit/c9add5e9c6d3735c71be211781a59a538c71107c

[2014-06-02 14:49] #100 closed, assigned to nobody

[2014-06-02 14:50] kba commented on #97
Fixed by https://github.com/DM2E/dm2e-ontologies/commit/676d1946bac16e635fe8f0825bc4d49d95a27ac0

[2014-06-02 14:50] #97 closed, assigned to nobody

[2014-06-02 14:50] kba commented on #99
Fixed by https://github.com/DM2E/dm2e-ontologies/commit/ff78e102760575056b25fb3569d8df80417b8146.

[2014-06-02 14:50] #99 closed, assigned to nobody

[2014-06-02 15:04] kba commented on #103
I can see how that could happen theoretically and have a fix for it but cannot seem to reproduce this.

@d0rg0ld Do you have an example input where this occurs so I can test?

[2014-06-02 15:05] kba commented on #90
The DM2E-EDM conversion will correct this particular error but it's still an error and should be fixed.

[2014-06-03 13:06] edroege commented on #89
Corrected and changed to EDM's CIDOC namespace in model 1.2 rev 0.1

[2014-06-03 14:37] kba commented on #89
Let's keep this issue open so data providers are aware of the issue.

In https://github.com/DM2E/dm2e-ontologies/commit/5d5468e1e74b28f9bf06a79e6040037dc2e248a3 the model was _corrected_ in such a way that using any of the two variants of the CIDOC-CRM namespace will result in the correct namespace in the EDM version, when using the final DM2E Model 1.1.

However, validating data with the obsolete

[2014-06-03 15:13] kba opened #107 "Change the revision schema for the 1.2 series of revisions"
In 1.1 we had this schema:
- 1.1rev1.0
- 1.1rev1.1
- ...
- 1.1rev1.6
- 1.1revFINAL

I find this a bit confusing an propose to use single integers for the revision number, since we cannot use Semantic Versioning because we're stuck with '1.x'. I.e. we could do:
- 1.2-rc1
- 1.2-rc2
- ...
- 1.2 or 1.2-final

This makes the revision history more coherent and IMHO more readable.

[2014-06-04 07:56] JIwanowa commented on #105
I think the best solution would be to skip any subclassing of `dm2e:hasAnnotatableVersionAt`.

[2014-06-04 08:03] d0rg0ld commented on #105
I actually have a different proposal: hasAnnotatableVersion should be very close to "isShownBy". So I'd suggest to convert hasAnotatableVersionAt to isShownBy whenever there is no isShownBy Property assigned right away.

[2014-06-04 08:27] d0rg0ld commented on #105
otherwise skip of course

[2014-06-04 08:27] JIwanowa commented on #105
In case of dingler the URIs for `dm2e:hasAnnotatableVersionAt` and `edm:isShownAt` are identical. Therefore it wouldn't make sense to convert `dm2e:hasAnnotatableVersionAt` to `edm:isShownBy` and to deliver the duplicates to Europeana. Furthermore we have additional URIs for `edm:isShownBy` which leads to the images. Apart of that the definition of `edm:isShownAt` allows only URIs with context inf

[2014-06-04 08:36] d0rg0ld commented on #105
I think that the Dingler case is rather special in this regard, as you link to the "isShownAt" html representation for annotation, which was also noted by Net7 in https://github.com/DM2E/dm2e-mappings/issues/47

[2014-06-04 09:24] d0rg0ld commented on #105
I had a brief look at the data and a chat with Julia. In most cases, dm2e:hasAnnotatableVersionAt is assigned to page level CHOs and should therefore be no issue for Europeana ingestion. For the few cases where hasAnnotatableVersion is assigned to objects on item level, it cant be clearly distinguished whether they should be assigned to isShownAt or isShownBy. Therefore I now also propose to skip

[2014-06-04 13:51] kba commented on #107
Implemented in https://github.com/DM2E/dm2e-ontologies/commit/7041e1ad2b486cc4491c4dffcf814155eb45108f and https://github.com/DM2E/dm2e-ontologies/commit/e60afbbdf97f0355931a978e2c95b6650a0fe778:

Release Candidates for Version 1.2 are now:
- 1.2_RC1
- 1.2_RC2
  ...

[2014-06-04 13:51] #107 closed, assigned to nobody

[2014-06-12 10:36] kba opened #108 "dm2e:copyist as a subclass of dc:creator?"
@knepper proposed to subclass dm2e:copyist to dc:creator instead of the more generic edm:hasMet. An alternative would be to subclass dm2e:copyist to dc:contributor.

[2014-06-12 10:39] kba opened #109 "Properties and classes to be deleted in DM2E Model version 1.2"
In the upcoming, final 1.2 release, we intend to delete some properties and classes since they have not been used in the data as of May 2014:

According to the latest evaluation, the unused properties are:
- dm2e:honoree
- bibo:isbn
- dm2e:misattributed
- dm2e:wasStudiedBy
- dm2e:restoration
- dm2e:owner
- edm:currentLocation
- edm:occurredAt
- edm:isSimilarTo
- dcterms:isVersionOf
- dm2e:levelOfG

[2014-06-12 12:55] d0rg0ld commented on #109
Can you state the exact date of the analysis? Was the dataset from SBB already included?

[2014-06-12 13:05] kba commented on #109
Data was generated on April, 29th 2014, 17:04. From SBB we included DTA  and kpe (http://data.dm2e.eu/data/dataset/sbb/kpe/20140417133253835).

But I don't think all those properties/classes listed here are actually marked for deletion in the specs/OWL. @edroege @JIwanowa ?

[2014-06-12 13:14] edroege commented on #109
Candidates to be removed from the model in the draft of the current revision are (order as in the model specification):

edm:ProvidedCHO properties
- dm2e:origin
- dm2e:modeOfAcquisition
- dm2e:levelOfGenesis
- dm2e:condition
- dm2e:restoration
- dm2e:writtenAreaDimension
- dm2e:wasStudiedBy
- dm2e:wasTaughtBy
- dm2e:honoree
- dm2e:misattributed
- dm2e:patron

edm:PhysicalThing subclasses
- dm2e:D

[2014-06-13 09:54] edroege commented on #108
I would prefer to make it a subproperty of dc:contributor because someone who copied a CHO has not necessarily created it.

[2014-06-13 10:25] knepper commented on #108
I agree to @edroege.

[2014-06-13 10:26] kba commented on #108
+1 for dc:contributor

[2014-06-17 11:55] d0rg0ld opened #110 "dm2e:holdingInstitution should be subProperty of edm:currentLocation"
dm2e:holdingInstitution is currently a subProp of edm:hasMet, I suggest it to be changed to be a subProperty of edm:currentLocation (http://europeana.ontotext.com/resource/edm/currentLocation) : The geographic location and/or name of the repository, building, site, or other entity whose boundaries presently include the resource.@en

[2014-06-17 12:07] d0rg0ld opened #111 "Move additional properties from having edm:hasMet to dc:contributor as superProperty"
I suggest additional changes to the superproperties of the following dm2e props:

dm2e:sponsor
dm2e:principal
bibo:editor
pro:printer

they all should become subproperties of dc:contributor

[2014-06-17 12:22] d0rg0ld commented on #109
I would at least leave the "standard" properties such as the wgs84_pos props for edm:Place and the skos properties (broader/narrower)

[2014-06-17 12:45] d0rg0ld commented on #109
I can also confirm that I will use dm2e:modeOfAcquisition in the next iteration of our codices mapping

[2014-06-17 12:46] d0rg0ld commented on #109
For JDC we will most likely use dm2e:Document and dm2e:Archive

[2014-06-17 14:11] edroege commented on #110
This is not possible: the range of dm2e:holdingInstitution is foaf:Organization, the range of edm:currentLocation is edm:Place.

[2014-06-17 14:21] edroege commented on #111
Depends maybe on the definition of contributor. Is a printer or a sponsor really contributing to a CHO? We (and DC :) ) have a very broad definition of contributor: "A person that is responsible for making contributions to the resource." but even with that broad definition I would e.g. not want to say that the printer of Dingler has made a contribution to the actual CHO. Contributors are in my poi

[2014-06-17 14:26] edroege commented on #109
@d0rg0ld Good to know that you will use some of the classes and a property!

Can you explain what you mean with "standard" properties? We do not have all edm properties in our model. It would be nice if providers would use the properties for exact place coordinates but maybe thi is just not possible when we deal with old documents? Why are broader and narrower standard if no one uses them in the m

[2014-06-17 14:43] d0rg0ld commented on #109
Well I dont know if it is so good to build the model "strictly empirically" by only looking at the properties used at a certain point in time. New providers could show up with data covering properties that have not been used before. With "standard" properties I therefore indeed mean the properties that belong to "external" classes incorporated into the DM2E model. IMHO they should always be legal

[2014-06-17 14:49] d0rg0ld commented on #111
Well, at least regarding sponsor or principal I would argue that they made a significant (financial) contribution to the creation of the resource. With printer I think it's more difficult, but given the DM2E definition "A person or institution who printed the CHO. In the manuscript context especially used in works of the 16th and 17th century (rare books)." I'd rather tend to see him/her as a cont

[2014-06-17 14:56] d0rg0ld commented on #110
Ok, that's a pity. Related to the other proposal with dc:contributor" the main reason is again that this information will be mapped to the generic edm:hasMet, unifying very different agent<->CHO relationships under one broad umbrella term

[2014-06-17 16:19] edroege commented on #111
I totally understand you - edm:hasMet is very generic. My concern is only that we would in the other way produce a lot of data that may not be totally correct when mapping DM2E data back to EDM

[2014-06-17 16:27] d0rg0ld commented on #111
This is indeed a problem. Probably we should try to find out how dc:contributor is used across Europeana?

[2014-06-17 16:28] edroege commented on #109
That is true. You have maybe noticed that not every unused property was marked for the deleting-discussion (e.g. dm2e:File that may be used for archival items) so it is not strictly empirical. But there are a lot of classes and properties that were not used even though they could have been used if you just think of the provided data. For example, subclasses of foaf:Organization were not used at al

[2014-06-25 14:48] #110 closed, assigned to nobody

[2014-06-25 14:56] edroege opened #112 "foaf:Organization subclasses"
Is anyone attending to use subclasses of foaf:Organization or has used them since our model evaluation?

foaf:Organization subclasses:
dm2e:Archive
vivo:Library
vivo:Museum
vivo:University

Do we need such subclasses? A short message would be great :)

[2014-06-25 15:33] edroege commented on #108
Changed in model version 1.2 revision 1

[2014-06-25 15:33] #108 closed, assigned to nobody

[2014-06-25 15:42] ksdm2e commented on #112
Unfortunately, we can't specialize our Organizations automatically because there are no indicators in the data.

[2014-06-30 10:56] #102 closed, assigned to nobody

[2014-07-01 09:37] JIwanowa commented on #109
We have left all classes and properties that are intended to be used during the upcoming DM2E mappings in the last draft of the model.

[2014-07-01 09:48] d0rg0ld commented on #109
Sorry for being late: I just talked to Mariana Damova today, she is about to map the contribution of the Bulgarian ACademiy of sciences during the next days. I think it would be good to wait for her if possible at least regarding the CHO props:

edm:ProvidedCHO properties

dm2e:origin
dm2e:modeOfAcquisition
dm2e:levelOfGenesis
dm2e:condition
dm2e:restoration
dm2e:writtenAreaDimension
dm2e:wasStudi

[2014-07-07 10:47] kba commented on #111
I think it's better to possibly not be 100 percent semantically accurate and have the data visible and usable rather than the opposite. So +1 for subclassing.

[2014-07-09 10:11] kba commented on #111
Problem: dc:contributor is defines as having range foaf:Person, while dm2e:sponsor, dm2e:principal and pro:printer have range edm:Agent. Subclassing these properties as is to dc:contributor will lead to logical contradictions.

We can either narrow the ranges of these properties or of dc:contributor. I don't remember the reasoning behind limiting dc:contributor in the DM2E AP to foaf:Person but th

[2014-07-14 10:52] kba commented on #82
Has this been fixed? @kthth @jurzua

[2014-07-14 10:53] kba commented on #75
Validator wil warn abut non-NFC unicode strings, specs recommend it.

[2014-07-14 10:53] #75 closed, assigned to ksdm2e

[2014-07-14 11:00] kba commented on #74
Seems fixed. Will open a new issue if it occurs again.

[2014-07-14 11:00] #74 closed, assigned to ksdm2e

[2014-07-14 11:03] kba commented on #21
Has this been solved? @kthth

[2014-07-14 11:04] #11 closed, assigned to nobody

[2014-07-14 11:07] kba commented on #16
Used only as a comon super property apparently.

[2014-07-14 11:07] #16 closed, assigned to nobody

[2014-07-14 11:10] kba commented on #90
@kthth @jurzua Is this fixed?

[2014-07-14 11:10] kba commented on #3
Cannot really be fixed for this particular case, but subclassing a few properties to dc:creator/dc:contributor (#111) will help in similar cases.

[2014-07-14 11:10] #3 closed, assigned to d0rg0ld

[2014-07-14 11:11] kba commented on #101
Fixed

[2014-07-14 11:11] #101 closed, assigned to nobody

[2014-07-14 11:12] kba commented on #98
@kthth @jurzua Any news on this?

[2014-07-14 11:20] kba commented on #96
@OyvindLGjesdal It would be enough to add the statement
´´´
http://data.dm2e.eu/data/agent/DM2E skos:prefLabel "Digitised Manuscripts to Europeana".
´´´
to every file you produce.

[2014-07-23 09:27] knepper commented on #53
@kba A NOTICe is nice - although there might always be multivolume records without pages.

Fixed now in mapping version 10 and in all datasets from today and later.

[2014-07-23 09:27] #53 closed, assigned to knepper

[2014-07-23 09:30] knepper commented on #38
Solved or not? Closed or open? Something to do for the mapping? :-)

[2014-07-23 10:29] kba commented on #38
It's not really solved since there are no backlinks because having those backlinks makes frequently referenced resources like http://data.dm2e.eu/data/agent/ub-ffm/sammlungen/Universit%C3%A4tsbibliothek_JCS_Frankfurt_am_Main painfully slow.

Nothing to do for the data providers/mappers though.

[2014-07-24 18:47] knepper commented on #111
dc:contributor should be edm:Agent. Otherwise we get Problems with the mapping of library catalogue data where we cannot always distinguish between organisations and persons. And if - where else shall we map contributing organisations?

I think bibo:editor is already defined as a subproperty of dc:contributor? I tend to include also dm2e:sponsor and dm2e:principal to dc:contributor because it keep

[2014-07-24 19:01] knepper commented on #109
I just populated edm:currentLocation in my last mapping. It could be nice for maps and might be easy to add if the dataprovider has digitized own holdings.

[2014-07-24 19:54] knepper commented on #112
It could be used for edm:dataprovider but I don't think that it is really needed. Our library ist part of a university and there is also an archive part of our library. Almost all of the subclasses listed would match :-)

[2014-07-24 20:25] knepper commented on #94
My mapping uses skos:exactMatch instead of owl:sameAs in skos:Concept but I think there is no real life example in the current data. It might be in GEI.

[2014-08-01 09:16] d0rg0ld commented on #89
This is strange. Looking up crm here http://prefix.cc/crm results in three namespaces all different from Europeanas namespace. Anyway, we should stick with Europeana. I included this in the mapping recommendations

[2014-08-01 09:19] d0rg0ld commented on #89
Did some little googling: In fact Europeanas crm namespace is obsolete, see here

http://www.cidoc-crm.org/official_release_cidoc.html

and here

http://www.cidoc-crm.org/docs/cidoc-crm%20naming%20proposal%20(303-redirect)_v4.pdf

[2014-08-01 11:21] kba commented on #89
Since we're targeting Europeana, I can live with the wrong namespace as long as our data integrates well. What really confuses me is not so much the namespace change but that the naming scheme has changed, i.e. that the names of the properties themselves have changed subtly (`P80_end_is_qualified_by` vs `P80F.end_is_qualified_by` note the `.` and the `F`). While the namespace used by Europeana mig

[2014-08-18 11:33] kba commented on #48
fabio:has\* still missing

[2014-08-22 11:15] OyvindLGjesdal commented on #96
Added preflabel to all files for DM2EAgent.

[2014-08-22 11:15] #96 closed, assigned to nobody

[2014-09-17 07:59] knepper commented on #94
No occurence, corrected anyway...

[2014-09-17 07:59] #94 closed, assigned to nobody

[2014-09-25 09:36] kba commented on #21
Bump @kthth @jurzua

[2014-10-14 14:15] d0rg0ld commented on #111
Hi

Here a little bump to the DM2E ontology discussion: After a talk with SBB, I think we will have to change the superproperty of dm2e:holdingInstitution. It currently mapped to edm:hasMet, which is far to generic in my opinion. Therefore. lacking anything more useful, I suggest to use dcterms:provenance as superproperty instead.

@edroege @kba @JIwanowa  please let me know what you think about i

[2014-10-14 14:45] knepper commented on #111
I think its reasonable. But what is the effect - why did you think about it with SBB?

[2014-10-14 14:48] d0rg0ld commented on #111
because they claimed the holdingInstitution property since they're hosting digital items for third parties who would like to be acknowledged accordingly. EDM does not really provide such a prop, so dcterms:provenance seems to be the right choice to me

[2014-10-14 14:50] d0rg0ld commented on #111
very related to this is a bug in the DM2E-EDM mapping where dcterms:provenance does not get into the EDM output (https://github.com/DM2E/dm2e-ontologies/issues/4)

[2014-10-15 09:28] JIwanowa commented on #111
Hi,

the problem is that the dm2e:holdingInstitution is an object property and the dcterms:provenance is a data type property. To be consistent, we've defined therefore edm:hasMet as super property of dm2e:holdingInstitution.

[2014-10-15 09:33] d0rg0ld commented on #111
I see. but hasMet is too generic and does currently not display in Europeana. SBB demands the holdingInstitution to be visible in the Europeana display. Therefore we need to find a way to make it possible. What about allowing literals in dm2e:holdingInstitution as well? doesnt it become a data type property then?

[2014-10-15 09:51] JIwanowa commented on #111
If we do so, then we have to change the super property to dcterms:provenance and the range of dm2e:holdingInstitution should be rdf:Literal or/and foaf:Organization. I think we should also be aware which kind of data type (literals or resources) Europeana will be able to handle. Depends on it, we can also think about the possibility to map the dm2e:holdingInstition property to dcterms:provenance d

[2014-10-15 10:02] d0rg0ld commented on #111
Hi, thanks, I checked the EDM docs and http://old.europeanalabs.eu/wiki/EDMObjectTemplatesProviders says for dcterms:provenance:

dcterms:provenance  literal or reference    min 0, max unbounded

so it should IMHO be possible to extend the range of dm2e:holdingInstitution and move it under dcterms:provenance ...

[2014-10-15 11:20] JIwanowa commented on #111
ok. thanks! I'll change the range and the super property from dm2e:holdingInstitution!

[2014-10-15 11:34] d0rg0ld commented on #111
great, thx, so now we will just have to fix (DM2E/dm2e-ontologies#4)

[2014-10-20 01:09] edroege commented on #111
Hi!
@d0rg0ld: almost everything in EDM has the range literal or reference :) A thing that we tried to avoid in our model. We had problems producing a proper owl file if we have that mixes and tried to avoid them.
All: would it be a solution to just have the range literal _only_ and thus making dcterms:provenance a datatype property? I wanted to adjust the owl file at https://github.com/DM2E/dm2e-o

[2014-10-20 07:48] JIwanowa commented on #111
Hi @edroege, I agree with you that mixed ranges are not good solution, but I also don't like the option to remove the resources at all, because we could lost additional data about the institutions it self. I am still thinking about the possibility to map the rdf:label from foaf:Organisation by dm2e:holdingInstitution in to dcterms:provenance during the backward mapping to EDM. @kba what do you thi

[2014-10-20 07:55] d0rg0ld commented on #111
Hi,
I understand your objection, @edroege . AFAIK, only SBB use holdingInstitution and currently put a foaf:Organization there. I guess it should be manageable to replace this with a string. But I also like @JIwanowa 's suggestion to "downgrade" from resource to literal during dm2e-edm transformation. @kba will know better, but I guess it should be possible - at least as hard-coded directive. I do

[2014-10-20 08:00] JIwanowa commented on #111
Hi,
if we go on with the DM2E to EDM-Mapping solution we don't need to change the DM2E model, respectively to remodel the owl file.

[2014-10-20 19:13] knepper commented on #111
In the METS/MODS mapping I have a parameter switch that allows to use the data provider resource for the holdinginstition - which is the case for the ubffm data. The result is a foaf:Organization for holdinginstituion like SBB.

[2014-10-24 10:59] kba commented on #111
Hi y'all, using the skos:prefLabel of the agent linked by dm2e:holdingInstitution in the DM2E version as the literal value of dcterms:provenance in the EDM version is possible.

[code]

would become

[code]

It's not the cleanest solution semantics-wise, but if there is no other EDM property that conveys the meaning of holdingInstitution, allows a range of agents/persons/organizations and is prope

[2014-10-24 12:18] #111 closed, assigned to nobody

[2014-11-04 15:17] edroege commented on #112
The classes will be removed in the last model version

[2014-11-04 15:17] #112 closed, assigned to nobody

[2015-12-17 13:35] #77 closed, assigned to ksdm2e

[2015-12-17 13:36] #67 closed, assigned to nobody

[2015-12-17 13:39] #90 closed, assigned to nobody

[2015-12-17 13:39] #92 closed, assigned to nobody

[2015-12-17 13:39] #95 closed, assigned to nobody

[2015-12-17 13:40] #98 closed, assigned to nobody